# 4. PySpark Mini-project

## Dataset

Storm events in US during 2019 are studied in the following analysis using the NOAA's National Weather Service Dataset available [here](https://www.ncdc.noaa.gov/stormevents/ftp.jsp). The folder **data** contains three csv files with event details, fatalities and location of every event.

In [1]:
# import SparkContext
from pyspark import SparkContext

In [2]:
sc = SparkSession.builder.appName("pysparkDataframes").getOrCreate()

In [3]:
sqlContext = SQLContext(sc)

In [4]:
dfStorm2019 = sc.read.format('csv')\
                .option('header', 'true')\
                .option('delimiter', ',')\
                .option('inferSchema', 'true')\
                .load('../pyspark/data/StormEvents_details-ftp_v1.0_d2019_c20200317.csv.gz')

In [5]:
dfFatalities2019 = sc.read.format('csv')\
                    .option('header', 'true')\
                    .option('delimiter', ',')\
                    .option('inferSchema', 'true')\
                    .load('../pyspark/data/StormEvents_fatalities-ftp_v1.0_d2019_c20200317.csv.gz')

In [6]:
dfLocations2019 = sc.read.format('csv')\
                    .option('header', 'true')\
                    .option('delimiter', ',')\
                    .option('inferSchema', 'true')\
                    .load('../pyspark/data/StormEvents_locations-ftp_v1.0_d2019_c20200317.csv.gz')

Displaying the schema of every dataset:

In [7]:
dfStorm2019.printSchema()

root
 |-- BEGIN_YEARMONTH: integer (nullable = true)
 |-- BEGIN_DAY: integer (nullable = true)
 |-- BEGIN_TIME: integer (nullable = true)
 |-- END_YEARMONTH: integer (nullable = true)
 |-- END_DAY: integer (nullable = true)
 |-- END_TIME: integer (nullable = true)
 |-- EPISODE_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATE_FIPS: integer (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH_NAME: string (nullable = true)
 |-- EVENT_TYPE: string (nullable = true)
 |-- CZ_TYPE: string (nullable = true)
 |-- CZ_FIPS: integer (nullable = true)
 |-- CZ_NAME: string (nullable = true)
 |-- WFO: string (nullable = true)
 |-- BEGIN_DATE_TIME: string (nullable = true)
 |-- CZ_TIMEZONE: string (nullable = true)
 |-- END_DATE_TIME: string (nullable = true)
 |-- INJURIES_DIRECT: integer (nullable = true)
 |-- INJURIES_INDIRECT: integer (nullable = true)
 |-- DEATHS_DIRECT: integer (nullable = true)
 |-- DEATHS_INDIRECT: integer (nullable = true)
 |-- DAMAGE_PROPERTY: string (nullable = true)
 |-- DAMAGE_CROPS: string (nullable = true)
 |-- SOURCE: string (nullable = true)
 |-- MAGNITUDE: double (nullable = true)
 |-- MAGNITUDE_TYPE: string (nullable = true)
 |-- FLOOD_CAUSE: string (nullable = true)
 |-- CATEGORY: integer (nullable = true)
 |-- TOR_F_SCALE: string (nullable = true)
 |-- TOR_LENGTH: double (nullable = true)
 |-- TOR_WIDTH: double (nullable = true)
 |-- TOR_OTHER_WFO: string (nullable = true)
 |-- TOR_OTHER_CZ_STATE: string (nullable = true)
 |-- TOR_OTHER_CZ_FIPS: integer (nullable = true)
 |-- TOR_OTHER_CZ_NAME: string (nullable = true)
 |-- BEGIN_RANGE: integer (nullable = true)
 |-- BEGIN_AZIMUTH: string (nullable = true)
 |-- BEGIN_LOCATION: string (nullable = true)
 |-- END_RANGE: integer (nullable = true)
 |-- END_AZIMUTH: string (nullable = true)
 |-- END_LOCATION: string (nullable = true)
 |-- BEGIN_LAT: double (nullable = true)
 |-- BEGIN_LON: double (nullable = true)
 |-- END_LAT: double (nullable = true)
 |-- END_LON: double (nullable = true)
 |-- EPISODE_NARRATIVE: string (nullable = true)
 |-- EVENT_NARRATIVE: string (nullable = true)
 |-- DATA_SOURCE: string (nullable = true)

In [8]:
dfFatalities2019.printSchema()

root
 |-- FAT_YEARMONTH: integer (nullable = true)
 |-- FAT_DAY: integer (nullable = true)
 |-- FAT_TIME: integer (nullable = true)
 |-- FATALITY_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- FATALITY_TYPE: string (nullable = true)
 |-- FATALITY_DATE: string (nullable = true)
 |-- FATALITY_AGE: integer (nullable = true)
 |-- FATALITY_SEX: string (nullable = true)
 |-- FATALITY_LOCATION: string (nullable = true)
 |-- EVENT_YEARMONTH: integer (nullable = true)

In [9]:
dfLocations2019.printSchema()

root
 |-- YEARMONTH: integer (nullable = true)
 |-- EPISODE_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- LOCATION_INDEX: integer (nullable = true)
 |-- RANGE: double (nullable = true)
 |-- AZIMUTH: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- LAT2: integer (nullable = true)
 |-- LON2: integer (nullable = true)

Dataframes have a **registerTempTable attribute** that can be transform into spark sql to generate queries and save the results using **.write.saveAsTable(name_table)**. RDD's don't have this extension because they are not structured tables. 

Obs: **registerTempTable** is deprecated. Instead, use **createOrReplaceTempView**

In [10]:
dfStorm2019.createOrReplaceTempView('stormDetails_table')

### 1. Type of Events

In [11]:
sqlContext.sql('SELECT \
                    EVENT_TYPE, \
                    COUNT(EVENT_TYPE) AS NUMBER_EPISODES\
                    FROM stormDetails_table \
                    GROUP BY EVENT_TYPE \
                    ORDER BY COUNT(EVENT_TYPE) DESC').show()

+--------------------+---------------+
|          EVENT_TYPE|NUMBER_EPISODES|
+--------------------+---------------+
|   Thunderstorm Wind|          18617|
|                Hail|           9013|
|               Flood|           4943|
|         Flash Flood|           4068|
|      Winter Weather|           3800|
|           High Wind|           3743|
|        Winter Storm|           3312|
|          Heavy Snow|           2844|
|Marine Thundersto...|           2502|
|             Tornado|           1727|
|         Strong Wind|           1590|
|          Heavy Rain|           1416|
|                Heat|           1291|
|Extreme Cold/Wind...|           1065|
|             Drought|           1007|
|            Blizzard|            852|
|      Excessive Heat|            827|
|        Frost/Freeze|            654|
|           Dense Fog|            652|
|     Cold/Wind Chill|            470|
+--------------------+---------------+
only showing top 20 rows

In [12]:
sqlContext.sql('SELECT EVENT_TYPE, NUMBER_EPISODES, PERCENTAGE \
                FROM ( \
                   SELECT \
                        DISTINCT(EVENT_TYPE), \
                        COUNT(EVENT_TYPE) OVER (PARTITION BY EVENT_TYPE) AS NUMBER_EPISODES, \
                        ROUND(COUNT(EVENT_TYPE) OVER (PARTITION BY EVENT_TYPE)/COUNT(EVENT_TYPE) OVER(), 5) AS PERCENTAGE\
                        FROM stormDetails_table \
                ORDER BY NUMBER_EPISODES DESC \
                      )').show(100)

+--------------------+---------------+----------+
|          EVENT_TYPE|NUMBER_EPISODES|PERCENTAGE|
+--------------------+---------------+----------+
|   Thunderstorm Wind|          18617|   0.27648|
|                Hail|           9013|   0.13385|
|               Flood|           4943|   0.07341|
|         Flash Flood|           4068|   0.06041|
|      Winter Weather|           3800|   0.05643|
|           High Wind|           3743|   0.05559|
|        Winter Storm|           3312|   0.04919|
|          Heavy Snow|           2844|   0.04224|
|Marine Thundersto...|           2502|   0.03716|
|             Tornado|           1727|   0.02565|
|         Strong Wind|           1590|   0.02361|
|          Heavy Rain|           1416|   0.02103|
|                Heat|           1291|   0.01917|
|Extreme Cold/Wind...|           1065|   0.01582|
|             Drought|           1007|   0.01495|
|            Blizzard|            852|   0.01265|
|      Excessive Heat|            827|   0.01228|
|        Frost/Freeze|            654|   0.00971|
|           Dense Fog|            652|   0.00968|
|     Cold/Wind Chill|            470|   0.00698|
|           High Surf|            468|   0.00695|
|        Funnel Cloud|            348|   0.00517|
|           Lightning|            343|   0.00509|
|       Coastal Flood|            240|   0.00356|
|           Ice Storm|            200|   0.00297|
|         Debris Flow|            184|   0.00273|
|          Waterspout|            183|   0.00272|
|            Wildfire|            180|   0.00267|
|     Lakeshore Flood|            146|   0.00217|
|      Tropical Storm|            143|   0.00212|
|    Lake-Effect Snow|             78|   0.00116|
|    Marine High Wind|             77|   0.00114|
|         Rip Current|             72|   0.00107|
|           Avalanche|             44|    6.5E-4|
|          Dust Storm|             40|    5.9E-4|
|Marine Tropical S...|             37|    5.5E-4|
|         Marine Hail|             32|    4.8E-4|
| Tropical Depression|             26|    3.9E-4|
|    Storm Surge/Tide|             25|    3.7E-4|
|  Marine Strong Wind|             17|    2.5E-4|
|Astronomical Low ...|             16|    2.4E-4|
|           Hurricane|             10|    1.5E-4|
|          Dust Devil|              8|    1.2E-4|
|        Freezing Fog|              6|    9.0E-5|
|Marine Hurricane/...|              6|    9.0E-5|
|              Seiche|              4|    6.0E-5|
|Marine Tropical D...|              4|    6.0E-5|
|         Sneakerwave|              3|    4.0E-5|
|         Dense Smoke|              2|    3.0E-5|
|               Sleet|              1|    1.0E-5|
|    Volcanic Ashfall|              1|    1.0E-5|
+--------------------+---------------+----------+

Since 1851 to 2018, hurricanes seasons have hit different states across the country. The top hurricane states on record are Florida, Texas, North Carolina, Luisiana, South Carolina, Alabama, Georgia, Missisipi, New York and Massachussetts. Atlantic Hurricane season runs from June to November, mostly between August and September. From summer to fall, weather conditions become ideal to generate storms later, with cooler air and warm ocean water temperatures. Pacific Hurricane season runs from May to November (the Pacific Coast of the United State is affected by storms originated in Mexico in their roads to come back to the sea, toward Hawaii).

### 2. Number of episodes and events by STATE

One episodes contains an unique or more events happening in different hours and days.

In [13]:
sqlContext.sql('SELECT \
                    STATE, \
                    COUNT(DISTINCT(EPISODE_ID)) AS NUMBER_EPISODES \
                    FROM stormDetails_table \
                    GROUP BY STATE ORDER BY COUNT(DISTINCT(EPISODE_ID))DESC').show(20)

+--------------+---------------+
|         STATE|NUMBER_EPISODES|
+--------------+---------------+
|         TEXAS|            536|
|  SOUTH DAKOTA|            430|
|    CALIFORNIA|            402|
|      COLORADO|            331|
|        KANSAS|            325|
|      ILLINOIS|            299|
|       WYOMING|            294|
|      VIRGINIA|            283|
|GULF OF MEXICO|            280|
|     MINNESOTA|            279|
|      NEBRASKA|            275|
|          IOWA|            263|
|      MISSOURI|            256|
|  PENNSYLVANIA|            256|
|      NEW YORK|            254|
|NORTH CAROLINA|            247|
|       FLORIDA|            243|
|       MONTANA|            232|
|     WISCONSIN|            232|
|          OHIO|            229|
+--------------+---------------+
only showing top 20 rows

The states with more episodes during 2019 were Texas, Soth Dakota, California, Colorado, Kansas

In [14]:
sqlContext.sql('SELECT \
                   STATE, \
                   NUMBER_EPISODES, \
                   PERCENTAGE, \
                   RANK() OVER (ORDER BY NUMBER_EPISODES DESC) AS RANKING \
                   FROM ( \
                       SELECT DISTINCT STATE, \
                            COUNT(EPISODE_ID) OVER (PARTITION BY STATE) AS NUMBER_EPISODES, \
                            ROUND(COUNT(EPISODE_ID) OVER (PARTITION BY STATE)/COUNT(EPISODE_ID) OVER(), 5) AS PERCENTAGE \
                            FROM ( \
                               SELECT DISTINCT EPISODE_ID, STATE \
                               FROM stormDetails_table \
                            ) \
                   )').show(100)

+--------------------+---------------+----------+-------+
|               STATE|NUMBER_EPISODES|PERCENTAGE|RANKING|
+--------------------+---------------+----------+-------+
|               TEXAS|            536|   0.05092|      1|
|        SOUTH DAKOTA|            430|   0.04085|      2|
|          CALIFORNIA|            402|   0.03819|      3|
|            COLORADO|            331|   0.03144|      4|
|              KANSAS|            325|   0.03087|      5|
|            ILLINOIS|            299|    0.0284|      6|
|             WYOMING|            294|   0.02793|      7|
|            VIRGINIA|            283|   0.02688|      8|
|      GULF OF MEXICO|            280|    0.0266|      9|
|           MINNESOTA|            279|    0.0265|     10|
|            NEBRASKA|            275|   0.02612|     11|
|                IOWA|            263|   0.02498|     12|
|            MISSOURI|            256|   0.02432|     13|
|        PENNSYLVANIA|            256|   0.02432|     13|
|            NEW YORK|            254|   0.02413|     15|
|      NORTH CAROLINA|            247|   0.02346|     16|
|             FLORIDA|            243|   0.02308|     17|
|             MONTANA|            232|   0.02204|     18|
|           WISCONSIN|            232|   0.02204|     18|
|                OHIO|            229|   0.02175|     20|
|             INDIANA|            224|   0.02128|     21|
|            KENTUCKY|            219|    0.0208|     22|
|            OKLAHOMA|            196|   0.01862|     23|
|             ARIZONA|            190|   0.01805|     24|
|            MICHIGAN|            189|   0.01795|     25|
|            ARKANSAS|            184|   0.01748|     26|
|      ATLANTIC SOUTH|            180|    0.0171|     27|
|            MARYLAND|            180|    0.0171|     27|
|          NEW MEXICO|            176|   0.01672|     29|
|      ATLANTIC NORTH|            174|   0.01653|     30|
|       WEST VIRGINIA|            168|   0.01596|     31|
|             GEORGIA|            164|   0.01558|     32|
|           TENNESSEE|            159|    0.0151|     33|
|             ALABAMA|            157|   0.01491|     34|
|               IDAHO|            151|   0.01434|     35|
|      SOUTH CAROLINA|            140|    0.0133|     36|
|         MISSISSIPPI|            132|   0.01254|     37|
|           LOUISIANA|            128|   0.01216|     38|
|              OREGON|            122|   0.01159|     39|
|        NORTH DAKOTA|            117|   0.01111|     40|
|              HAWAII|            116|   0.01102|     41|
|          NEW JERSEY|            114|   0.01083|     42|
|              NEVADA|            101|   0.00959|     43|
|                UTAH|             97|   0.00921|     44|
|          WASHINGTON|             91|   0.00864|     45|
|         CONNECTICUT|             85|   0.00807|     46|
|       MASSACHUSETTS|             78|   0.00741|     47|
|              ALASKA|             76|   0.00722|     48|
|               MAINE|             67|   0.00636|     49|
|       LAKE MICHIGAN|             57|   0.00541|     50|
|             VERMONT|             55|   0.00522|     51|
|         PUERTO RICO|             38|   0.00361|     52|
|DISTRICT OF COLUMBIA|             35|   0.00332|     53|
|       NEW HAMPSHIRE|             35|   0.00332|     53|
|            DELAWARE|             34|   0.00323|     55|
|           LAKE ERIE|             34|   0.00323|     55|
|       LAKE SUPERIOR|             24|   0.00228|     57|
|        RHODE ISLAND|             23|   0.00218|     58|
|      AMERICAN SAMOA|             19|    0.0018|     59|
|          LAKE HURON|             17|   0.00161|     60|
|       LAKE ST CLAIR|             17|   0.00161|     60|
|        LAKE ONTARIO|              8|    7.6E-4|     62|
|           E PACIFIC|              5|    4.7E-4|     63|
|      VIRGIN ISLANDS|              4|    3.8E-4|     64|
|       HAWAII WATERS|              1|    9.0E-5|     65|
+--------------------+---------------+----------+-------+

In [15]:
sqlContext.sql('SELECT \
                    STATE, \
                    COUNT(DISTINCT(EVENT_ID)) AS NUMBER_EVENTS \
                    FROM stormDetails_table \
                    GROUP BY STATE ORDER BY COUNT(DISTINCT(EVENT_ID))DESC').show(20)

+--------------+-------------+
|         STATE|NUMBER_EVENTS|
+--------------+-------------+
|         TEXAS|         4338|
|        KANSAS|         2672|
|    CALIFORNIA|         2643|
|  SOUTH DAKOTA|         2543|
|      NEW YORK|         2514|
|      VIRGINIA|         2398|
|  PENNSYLVANIA|         2395|
|          OHIO|         2279|
|          IOWA|         2276|
|      MISSOURI|         2159|
|     MINNESOTA|         2126|
|      NEBRASKA|         2088|
|      ILLINOIS|         2084|
|      OKLAHOMA|         1801|
|      COLORADO|         1776|
|     WISCONSIN|         1573|
|      KENTUCKY|         1522|
|NORTH CAROLINA|         1448|
|       INDIANA|         1447|
|       MONTANA|         1286|
+--------------+-------------+
only showing top 20 rows

In [16]:
sqlContext.sql('SELECT \
                   STATE, \
                   NUMBER_EVENTS, \
                   PERCENTAGE, \
                   RANK() OVER (ORDER BY NUMBER_EVENTS DESC) AS RANKING \
                   FROM ( \
                       SELECT DISTINCT STATE, \
                            COUNT(EVENT_ID) OVER (PARTITION BY STATE) AS NUMBER_EVENTS, \
                            ROUND(COUNT(EVENT_ID) OVER (PARTITION BY STATE)/COUNT(EVENT_ID) OVER(), 5) AS PERCENTAGE \
                            FROM ( \
                               SELECT DISTINCT EVENT_ID, STATE \
                               FROM stormDetails_table \
                            ) \
                   )').show(100)

+--------------------+-------------+----------+-------+
|               STATE|NUMBER_EVENTS|PERCENTAGE|RANKING|
+--------------------+-------------+----------+-------+
|               TEXAS|         4338|   0.06442|      1|
|              KANSAS|         2672|   0.03968|      2|
|          CALIFORNIA|         2643|   0.03925|      3|
|        SOUTH DAKOTA|         2543|   0.03777|      4|
|            NEW YORK|         2514|   0.03733|      5|
|            VIRGINIA|         2398|   0.03561|      6|
|        PENNSYLVANIA|         2395|   0.03557|      7|
|                OHIO|         2279|   0.03384|      8|
|                IOWA|         2276|    0.0338|      9|
|            MISSOURI|         2159|   0.03206|     10|
|           MINNESOTA|         2126|   0.03157|     11|
|            NEBRASKA|         2088|   0.03101|     12|
|            ILLINOIS|         2084|   0.03095|     13|
|            OKLAHOMA|         1801|   0.02675|     14|
|            COLORADO|         1776|   0.02637|     15|
|           WISCONSIN|         1573|   0.02336|     16|
|            KENTUCKY|         1522|    0.0226|     17|
|      NORTH CAROLINA|         1448|    0.0215|     18|
|             INDIANA|         1447|   0.02149|     19|
|             MONTANA|         1286|    0.0191|     20|
|            MARYLAND|         1208|   0.01794|     21|
|             GEORGIA|         1158|    0.0172|     22|
|           TENNESSEE|         1157|   0.01718|     23|
|            ARKANSAS|         1148|   0.01705|     24|
|         MISSISSIPPI|         1140|   0.01693|     25|
|             ALABAMA|         1116|   0.01657|     26|
|             WYOMING|         1106|   0.01642|     27|
|        NORTH DAKOTA|         1095|   0.01626|     28|
|            MICHIGAN|         1067|   0.01585|     29|
|      ATLANTIC NORTH|         1054|   0.01565|     30|
|       WEST VIRGINIA|          967|   0.01436|     31|
|             FLORIDA|          939|   0.01394|     32|
|      GULF OF MEXICO|          907|   0.01347|     33|
|          NEW JERSEY|          901|   0.01338|     34|
|       MASSACHUSETTS|          860|   0.01277|     35|
|          NEW MEXICO|          860|   0.01277|     35|
|      SOUTH CAROLINA|          826|   0.01227|     37|
|           LOUISIANA|          813|   0.01207|     38|
|              HAWAII|          687|    0.0102|     39|
|               IDAHO|          585|   0.00869|     40|
|      ATLANTIC SOUTH|          519|   0.00771|     41|
|             ARIZONA|          516|   0.00766|     42|
|          WASHINGTON|          414|   0.00615|     43|
|                UTAH|          335|   0.00497|     44|
|               MAINE|          320|   0.00475|     45|
|             VERMONT|          317|   0.00471|     46|
|              NEVADA|          313|   0.00465|     47|
|              OREGON|          290|   0.00431|     48|
|         CONNECTICUT|          240|   0.00356|     49|
|         PUERTO RICO|          155|    0.0023|     50|
|              ALASKA|          143|   0.00212|     51|
|            DELAWARE|          136|   0.00202|     52|
|       NEW HAMPSHIRE|          129|   0.00192|     53|
|       LAKE MICHIGAN|          105|   0.00156|     54|
|       LAKE SUPERIOR|          102|   0.00151|     55|
|        RHODE ISLAND|           92|   0.00137|     56|
|           LAKE ERIE|           77|   0.00114|     57|
|       LAKE ST CLAIR|           55|    8.2E-4|     58|
|DISTRICT OF COLUMBIA|           52|    7.7E-4|     59|
|      AMERICAN SAMOA|           21|    3.1E-4|     60|
|          LAKE HURON|           21|    3.1E-4|     60|
|        LAKE ONTARIO|           12|    1.8E-4|     62|
|           E PACIFIC|            5|    7.0E-5|     63|
|      VIRGIN ISLANDS|            5|    7.0E-5|     63|
|       HAWAII WATERS|            1|    1.0E-5|     65|
+--------------------+-------------+----------+-------+

In [17]:
sqlContext.sql('SELECT \
                    EVENT_TYPE, \
                    STATE, \
                    COUNT(EVENT_TYPE) AS NUMBER_EVENTS \
                    FROM stormDetails_table \
                    GROUP BY STATE, EVENT_TYPE ORDER BY COUNT(EVENT_TYPE) DESC').show(20)

+--------------------+--------------+-------------+
|          EVENT_TYPE|         STATE|NUMBER_EVENTS|
+--------------------+--------------+-------------+
|                Hail|         TEXAS|         1394|
|   Thunderstorm Wind|  PENNSYLVANIA|         1245|
|   Thunderstorm Wind|      VIRGINIA|         1199|
|   Thunderstorm Wind|         TEXAS|         1047|
|Marine Thundersto...|ATLANTIC NORTH|          997|
|   Thunderstorm Wind|      NEW YORK|          903|
|   Thunderstorm Wind|          OHIO|          891|
|   Thunderstorm Wind|        KANSAS|          848|
|                Hail|        KANSAS|          847|
|   Thunderstorm Wind|NORTH CAROLINA|          791|
|Marine Thundersto...|GULF OF MEXICO|          775|
|               Flood|  SOUTH DAKOTA|          752|
|   Thunderstorm Wind|       GEORGIA|          673|
|   Thunderstorm Wind|      MISSOURI|          648|
|                Hail|      NEBRASKA|          640|
|   Thunderstorm Wind|SOUTH CAROLINA|          619|
|   Thunderstorm Wind|       ALABAMA|          591|
|   Thunderstorm Wind|      ILLINOIS|          587|
|                Hail|      COLORADO|          580|
|   Thunderstorm Wind|     TENNESSEE|          575|
+--------------------+--------------+-------------+
only showing top 20 rows

Hails, thunderstorms and marine thonderstoms were the most common events in 2019.

### 3. Duration of events

First, we inspect the date information available in the stormDetails table

In [18]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    STATE, \
                    EVENT_TYPE, \
                    BEGIN_YEARMONTH, \
                    BEGIN_DAY, \
                    BEGIN_TIME,  \
                    END_YEARMONTH, \
                    END_DAY, \
                    END_TIME \
                    FROM stormDetails_table').show(5)

+----------+--------+---------+-----------------+---------------+---------+----------+-------------+-------+--------+
|EPISODE_ID|EVENT_ID|    STATE|       EVENT_TYPE|BEGIN_YEARMONTH|BEGIN_DAY|BEGIN_TIME|END_YEARMONTH|END_DAY|END_TIME|
+----------+--------+---------+-----------------+---------------+---------+----------+-------------+-------+--------+
|    137295|  824116|    TEXAS|      Flash Flood|         201905|        9|      1554|       201905|      9|    1830|
|    140217|  843354|MINNESOTA|Thunderstorm Wind|         201907|       15|      1640|       201907|     15|    1641|
|    142648|  861581|    TEXAS|Thunderstorm Wind|         201910|       20|      2223|       201910|     20|    2223|
|    142648|  861584|    TEXAS|Thunderstorm Wind|         201910|       20|      2312|       201910|     20|    2312|
|    142648|  861582|    TEXAS|Thunderstorm Wind|         201910|       20|      2236|       201910|     20|    2236|
+----------+--------+---------+-----------------+---------------+---------+----------+-------------+-------+--------+
only showing top 5 rows

A better datetime visualization results of the transformation of the begin and end dates as strings with format **yyyy-mm-dd hh-mm**

In [19]:
sqlContext.sql("SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    STATE, \
                    EVENT_TYPE, \
                    CONCAT(SUBSTRING(BEGIN_YEARMONTH, 1, 4), '-', \
                    SUBSTRING(BEGIN_YEARMONTH, 5, 2), '-', \
                    BEGIN_DAY, ' ', SUBSTRING(BEGIN_TIME, 1, 2), ':', SUBSTRING(BEGIN_TIME, 3, 2)) AS BEGIN_DATE, \
                    CONCAT(SUBSTRING(END_YEARMONTH, 1, 4), '-', \
                    SUBSTRING(END_YEARMONTH, 5, 2), '-', \
                    END_DAY, ' ', SUBSTRING(END_TIME, 1, 2), ':', SUBSTRING(END_TIME, 3, 2)) AS END_DATE \
                    FROM stormDetails_table").show()

+----------+--------+--------------+--------------------+----------------+----------------+
|EPISODE_ID|EVENT_ID|         STATE|          EVENT_TYPE|      BEGIN_DATE|        END_DATE|
+----------+--------+--------------+--------------------+----------------+----------------+
|    137295|  824116|         TEXAS|         Flash Flood| 2019-05-9 15:54| 2019-05-9 18:30|
|    140217|  843354|     MINNESOTA|   Thunderstorm Wind|2019-07-15 16:40|2019-07-15 16:41|
|    142648|  861581|         TEXAS|   Thunderstorm Wind|2019-10-20 22:23|2019-10-20 22:23|
|    142648|  861584|         TEXAS|   Thunderstorm Wind|2019-10-20 23:12|2019-10-20 23:12|
|    142648|  861582|         TEXAS|   Thunderstorm Wind|2019-10-20 22:36|2019-10-20 22:36|
|    142648|  856504|         TEXAS|             Tornado|2019-10-20 20:48|2019-10-20 20:54|
|    141212|  848333|       VERMONT|                Hail| 2019-09-4 12:29| 2019-09-4 12:29|
|    141215|  848338|      NEW YORK|   Thunderstorm Wind|2019-09-26 15:54|2019-09-26 15:54|
|    140688|  845760|ATLANTIC SOUTH|Marine Thundersto...|2019-09-13 18:38|2019-09-13 18:38|
|    140688|  845762|ATLANTIC SOUTH|Marine Thundersto...|2019-09-13 19:15|2019-09-13 19:15|
|    140688|  845764|ATLANTIC SOUTH|Marine Thundersto...|2019-09-13 19:38|2019-09-13 19:38|
|    141232|  848441|       FLORIDA|         Rip Current|2019-09-30 17:40|2019-09-30 17:40|
|    133946|  801726| WEST VIRGINIA|      Winter Weather|2019-01-29 12:00|2019-01-29 19:00|
|    134106|  814097|      ARKANSAS|   Thunderstorm Wind|  2019-03-9 81:0|  2019-03-9 81:0|
|    134106|  814096|      ARKANSAS|   Thunderstorm Wind|  2019-03-9 75:0|  2019-03-9 75:0|
|    141237|  848459|ATLANTIC SOUTH|Marine Thundersto...|2019-09-30 18:14|2019-09-30 18:14|
|    141237|  848462|ATLANTIC SOUTH|Marine Thundersto...|2019-09-30 20:15|2019-09-30 20:15|
|    140062|  842668|GULF OF MEXICO|Marine Thundersto...| 2019-09-2 12:42| 2019-09-2 12:42|
|    140067|  842699|GULF OF MEXICO|          Waterspout| 2019-09-6 14:53| 2019-09-6 14:56|
|    141077|  847645|GULF OF MEXICO|Marine Thundersto...|2019-09-18 18:05|2019-09-18 18:05|
+----------+--------+--------------+--------------------+----------------+----------------+
only showing top 20 rows

In the table below, `DELTA_YEAR` and `DELTA_MONTH` are the differences between the begin/end years and months respectively. Both are extracted from `BEGIN_YEARMONTH` and `END_YEARMONTH` using the SQL function SUBSTRING. The same attribute is used to retrieve hours and minutes from `BEGIN_TIME` and `END_TIME`. `DELTA_DAYS` is compute directly from `BEGIN_DAY` and `END_DAY`.

100 rows are displayed as follows:

In [20]:
sqlContext.sql('SELECT \
                   EPISODE_ID, \
                   EVENT_ID, STATE, \
                   EVENT_TYPE, \
                   CAST(SUBSTRING(END_YEARMONTH, 1, 4) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 1, 4) AS INT) AS DELTA_YEAR, \
                   CAST(SUBSTRING(END_YEARMONTH, 5, 2) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 5, 2) AS INT) AS DELTA_MONTH, \
                   END_DAY - BEGIN_DAY AS DELTA_DAY, \
                   ((CAST(SUBSTRING(END_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(END_TIME, 3, 2) AS INT)) - (CAST(SUBSTRING(BEGIN_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(BEGIN_TIME, 3, 2) AS INT)))/60.0 AS DELTA_HOURS \
                   FROM stormDetails_table').show()

+----------+--------+--------------+--------------------+----------+-----------+---------+-----------+
|EPISODE_ID|EVENT_ID|         STATE|          EVENT_TYPE|DELTA_YEAR|DELTA_MONTH|DELTA_DAY|DELTA_HOURS|
+----------+--------+--------------+--------------------+----------+-----------+---------+-----------+
|    137295|  824116|         TEXAS|         Flash Flood|         0|          0|        0|   2.600000|
|    140217|  843354|     MINNESOTA|   Thunderstorm Wind|         0|          0|        0|   0.016667|
|    142648|  861581|         TEXAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    142648|  861584|         TEXAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    142648|  861582|         TEXAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    142648|  856504|         TEXAS|             Tornado|         0|          0|        0|   0.100000|
|    141212|  848333|       VERMONT|                Hail|         0|          0|        0|   0.000000|
|    141215|  848338|      NEW YORK|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    140688|  845760|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140688|  845762|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140688|  845764|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    141232|  848441|       FLORIDA|         Rip Current|         0|          0|        0|   0.000000|
|    133946|  801726| WEST VIRGINIA|      Winter Weather|         0|          0|        0|   7.000000|
|    134106|  814097|      ARKANSAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    134106|  814096|      ARKANSAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    141237|  848459|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    141237|  848462|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140062|  842668|GULF OF MEXICO|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140067|  842699|GULF OF MEXICO|          Waterspout|         0|          0|        0|   0.050000|
|    141077|  847645|GULF OF MEXICO|Marine Thundersto...|         0|          0|        0|   0.000000|
+----------+--------+--------------+--------------------+----------+-----------+---------+-----------+
only showing top 20 rows

Number of events with a `DELTA_MONTH` upper than 0:

In [21]:
sqlContext.sql('SELECT \
                   EPISODE_ID, \
                   EVENT_ID, \
                   STATE, \
                   EVENT_TYPE, \
                   DELTA_DAY, \
                   DELTA_HOURS \
                   FROM (\
                        SELECT \
                            EPISODE_ID, \
                            EVENT_ID, \
                            STATE, \
                            EVENT_TYPE, \
                            CAST(SUBSTRING(END_YEARMONTH, 1, 4) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 1, 4) AS INT) AS DELTA_YEAR, \
                            CAST(SUBSTRING(END_YEARMONTH, 5, 2) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 5, 2) AS INT) AS DELTA_MONTH, \
                            END_DAY - BEGIN_DAY AS DELTA_DAY, \
                            ((CAST(SUBSTRING(END_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(END_TIME, 3, 2) AS INT)) - (CAST(SUBSTRING(BEGIN_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(BEGIN_TIME, 3, 2) AS INT)))/60.0 AS DELTA_HOURS \
                            FROM stormDetails_table \
                        ) \
                   WHERE DELTA_MONTH > 0').show()

+----------+--------+-----+----------+---------+-----------+
|EPISODE_ID|EVENT_ID|STATE|EVENT_TYPE|DELTA_DAY|DELTA_HOURS|
+----------+--------+-----+----------+---------+-----------+
+----------+--------+-----+----------+---------+-----------+

All the events take place -they start and finish- in the same month. It means that the duration of every event can be compute using only `DELTA_DAY` and `DELTA_HOURS`, as follows:

In [22]:
sqlContext.sql('SELECT \
                   B.EPISODE_ID, \
                   B.EVENT_ID, \
                   B.STATE, \
                   B.EVENT_TYPE, \
                   B.BEGIN_YEARMONTH, \
                   B.END_YEARMONTH, \
                   B.BEGIN_DAY, \
                   B.END_DAY, \
                   B.EFFECTIVE_DELTA_DAYS \
                   FROM ( \
                       SELECT \
                           A.EPISODE_ID, \
                           A.EVENT_ID, \
                           A.STATE, \
                           A.EVENT_TYPE, \
                           A.BEGIN_YEARMONTH, \
                           A.END_YEARMONTH, \
                           A.BEGIN_DAY, \
                           A.END_DAY, \
                           CASE WHEN A.DELTA_HOURS IS NOT NULL THEN A.DELTA_DAY + A.DELTA_HOURS/24.0 ELSE A.DELTA_DAY END AS EFFECTIVE_DELTA_DAYS \
                           FROM (\
                                SELECT \
                                   EPISODE_ID, \
                                   EVENT_ID, \
                                   STATE, \
                                   EVENT_TYPE, \
                                   BEGIN_YEARMONTH, \
                                   END_YEARMONTH, \
                                   BEGIN_DAY, \
                                   END_DAY, \
                                   END_DAY - BEGIN_DAY AS DELTA_DAY, \
                                   ABS((CAST(SUBSTRING(END_TIME, 1, 2) AS INT) + CAST(SUBSTRING(END_TIME, 3, 2) AS INT)) - (CAST(SUBSTRING(BEGIN_TIME, 1, 2) AS INT) + CAST(SUBSTRING(BEGIN_TIME, 3, 2) AS INT)))/60.0 AS DELTA_HOURS \
                                   FROM stormDetails_table \
                                   WHERE CAST(END_TIME AS INT) > 0 AND CAST(BEGIN_TIME AS INT) > 0 \
                                ) AS A \
                    ) AS B \
                    ORDER BY B.EFFECTIVE_DELTA_DAYS DESC').show(200)

+----------+--------+--------------+----------+---------------+-------------+---------+-------+--------------------+
|EPISODE_ID|EVENT_ID|         STATE|EVENT_TYPE|BEGIN_YEARMONTH|END_YEARMONTH|BEGIN_DAY|END_DAY|EFFECTIVE_DELTA_DAYS|
+----------+--------+--------------+----------+---------------+-------------+---------+-------+--------------------+
|    140042|  842536|  SOUTH DAKOTA|     Flood|         201907|       201907|        1|     31|       30.0361111250|
|    140042|  842537|  SOUTH DAKOTA|     Flood|         201907|       201907|        1|     31|       30.0361111250|
|    141294|  848629|         IDAHO|  Wildfire|         201908|       201908|        1|     31|       30.0000000000|
|    137101|  822737|      ILLINOIS|     Flood|         201904|       201904|        1|     30|       29.0500000000|
|    138578|  833168|          IOWA|     Flood|         201906|       201906|        1|     30|       29.0500000000|
|    138858|  835315|  SOUTH DAKOTA|     Flood|         201906|       201906|        1|     30|       29.0423611250|
|    140042|  842538|  SOUTH DAKOTA|     Flood|         201907|       201907|        2|     31|       29.0416666667|
|    143103|  860406|     WISCONSIN|     Flood|         201910|       201910|        2|     31|       29.0305555417|
|    141673|  850670|  SOUTH DAKOTA|     Flood|         201908|       201908|        2|     31|       29.0013888750|
|    142654|  856244|      MISSOURI|     Flood|         201910|       201910|        2|     30|       28.0472222083|
|    141501|  849615|  SOUTH DAKOTA|     Flood|         201908|       201908|        3|     31|       28.0451388750|
|    134184|  803619|      ARKANSAS|     Flood|         201901|       201901|        3|     31|       28.0131944583|
|    141851|  851643|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    141851|  851641|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    141851|  851644|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    141851|  851642|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    138050|  829623|      MISSOURI|     Flood|         201906|       201906|        3|     30|       27.0361111250|
|    141683|  850712|  SOUTH DAKOTA|     Flood|         201908|       201908|        3|     30|       27.0000000000|
|    142866|  857284|    CALIFORNIA|  Wildfire|         201909|       201909|        4|     30|       26.0243055417|
|    140255|  843538|        HAWAII|   Drought|         201908|       201908|        6|     31|       25.0430555417|
|    143192|  858937|        HAWAII|   Drought|         201911|       201911|        5|     30|       25.0430555417|
|    141937|  852015|      COLORADO|  Wildfire|         201909|       201909|        5|     30|       25.0361111250|
|    138617|  833471|          IOWA|     Flood|         201904|       201904|        6|     30|       24.0493055417|
|    138516|  833043|  SOUTH DAKOTA|     Flood|         201904|       201904|        6|     30|       24.0083333333|
|    138504|  833041|     MINNESOTA|     Flood|         201904|       201904|        6|     30|       24.0083333333|
|    138504|  833042|     MINNESOTA|     Flood|         201904|       201904|        6|     30|       24.0083333333|
|    140042|  842539|  SOUTH DAKOTA|     Flood|         201907|       201907|        2|     26|       24.0076388750|
|    140044|  842540|          IOWA|     Flood|         201907|       201907|        2|     26|       24.0076388750|
|    138006|  831130|      ARKANSAS|     Flood|         201905|       201905|        3|     27|       24.0076388750|
|    138006|  831678|      ARKANSAS|     Flood|         201905|       201905|        2|     26|       24.0000000000|
|    138617|  833473|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0500000000|
|    138617|  833474|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0500000000|
|    138617|  833475|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0500000000|
|    142482|  855233|        HAWAII|   Drought|         201910|       201910|        8|     31|       23.0430555417|
|    142073|  852999|    WASHINGTON|  Wildfire|         201908|       201908|        2|     25|       23.0402777917|
|    140263|  843547|          UTAH|  Wildfire|         201908|       201908|        6|     29|       23.0312500000|
|    138617|  833468|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0013888750|
|    138617|  833470|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0013888750|
|    139960|  842079|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0430555417|
|    139960|  842080|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0430555417|
|    139960|  842077|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0430555417|
|    138006|  831679|      ARKANSAS|     Flood|         201905|       201905|        4|     26|       22.0284722083|
|    135066|  809476|      ARKANSAS|     Flood|         201902|       201902|        6|     28|       22.0166666667|
|    136684|  820066|      ARKANSAS|     Flood|         201904|       201904|        8|     30|       22.0076388750|
|    135978|  822682|          IOWA|     Flood|         201904|       201904|        1|     23|       22.0048611250|
|    140045|  842560|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0013888750|
|    140343|  843882|        OREGON|  Wildfire|         201909|       201909|        5|     27|       22.0000000000|
|    141833|  851354|     LOUISIANA|   Drought|         201910|       201910|        8|     29|       21.0138888750|
|    138866|  835272|      MICHIGAN|     Flood|         201902|       201902|        6|     27|       21.0138888750|
|    141833|  851355|     LOUISIANA|   Drought|         201910|       201910|        8|     29|       21.0138888750|
|    143341|  860445| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143341|  859917| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860475|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143445|  860574|NORTH CAROLINA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860494|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143341|  860452| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143341|  860453| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860472|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860473|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860477|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860486|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860489|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860505|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143445|  860575|NORTH CAROLINA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860497|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860496|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860577|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860465|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    140397|  844013|         IDAHO|  Wildfire|         201907|       201907|       10|     31|       21.0055555417|
|    134123|  803157|      ILLINOIS|     Flood|         201902|       201902|        7|     28|       21.0048611250|
|    141851|  851812|      KENTUCKY|   Drought|         201910|       201910|        1|     22|       21.0027777917|
|    141851|  851649|      KENTUCKY|   Drought|         201910|       201910|        1|     22|       21.0027777917|
|    141851|  851639|      KENTUCKY|   Drought|         201910|       201910|        1|     22|       21.0027777917|
|    143753|  863131|    CALIFORNIA|  Wildfire|         201910|       201910|       10|     31|       21.0000000000|
|    143067|  858350|    CALIFORNIA|  Wildfire|         201909|       201909|        4|     25|       21.0000000000|
|    140045|  842750|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     29|       20.0548611250|
|    140074|  842752|          IOWA|     Flood|         201907|       201907|        9|     29|       20.0548611250|
|    140045|  842749|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     29|       20.0548611250|
|    138050|  829956|      MISSOURI|     Flood|         201906|       201906|        2|     22|       20.0208333333|
|    134123|  803177|      ILLINOIS|     Flood|         201902|       201902|        8|     28|       20.0083333333|
|    143403|  860407|     WISCONSIN|     Flood|         201910|       201910|        7|     27|       20.0083333333|
|    134251|  803923|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0083333333|
|    134251|  803925|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0083333333|
|    135066|  809474|      ARKANSAS|     Flood|         201902|       201902|        8|     28|       20.0055555417|
|    134251|  803939|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0013888750|
|    134251|  803944|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0013888750|
|    134123|  803178|      ILLINOIS|     Flood|         201902|       201902|        8|     28|       20.0013888750|
|    134119|  803053|      KENTUCKY|     Flood|         201902|       201902|        9|     28|       19.0500000000|
|    134123|  803151|      ILLINOIS|     Flood|         201902|       201902|        9|     28|       19.0493055417|
|    142549|  856541|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0451388750|
|    134119|  803096|      KENTUCKY|     Flood|         201902|       201902|        9|     28|       19.0437500000|
|    142613|  856128|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0437500000|
|    137388|  824897|        HAWAII|   Drought|         201906|       201906|       11|     30|       19.0430555417|
|    137301|  824126|     LOUISIANA|     Flood|         201905|       201905|       12|     31|       19.0375000000|
|    134251|  803914|       INDIANA|     Flood|         201902|       201902|        9|     28|       19.0291666667|
|    134251|  803911|       INDIANA|     Flood|         201902|       201902|        9|     28|       19.0291666667|
|    142686|  856547|          IOWA|     Flood|         201909|       201909|       11|     30|       19.0152777917|
|    142549|  856545|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0152777917|
|    142549|  856546|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0152777917|
|    142549|  855790|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0138888750|
|    140533|  844767|        OREGON|  Wildfire|         201909|       201909|        5|     24|       19.0104166667|
|    138455|  832494|  SOUTH DAKOTA|     Flood|         201904|       201904|       11|     30|       19.0083333333|
|    134201|  803687|      ARKANSAS|     Flood|         201901|       201901|       12|     31|       19.0055555417|
|    135978|  822409|          IOWA|     Flood|         201904|       201904|        1|     20|       19.0020833333|
|    137101|  822736|      ILLINOIS|     Flood|         201904|       201904|        1|     20|       19.0020833333|
|    134119|  803094|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0486111250|
|    141904|  851892|         TEXAS|   Drought|         201908|       201908|       13|     31|       18.0486111250|
|    141904|  851893|         TEXAS|   Drought|         201908|       201908|       13|     31|       18.0486111250|
|    135955|  825834|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0479166667|
|    135253|  813950|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0479166667|
|    134135|  803185|      MISSOURI|     Flood|         201902|       201902|       10|     28|       18.0479166667|
|    135955|  825813|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0479166667|
|    135955|  825453|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    135955|  825455|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    134119|  803112|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0465277917|
|    135955|  826221|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    135955|  826220|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    134119|  803105|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0465277917|
|    137538|  826222|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    135955|  825448|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    134123|  803144|      ILLINOIS|     Flood|         201902|       201902|       10|     28|       18.0458333333|
|    134119|  803048|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0458333333|
|    134724|  807221|      ILLINOIS|     Flood|         201903|       201903|       13|     31|       18.0451388750|
|    137538|  826255|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0444444583|
|    135955|  826254|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0444444583|
|    137563|  840989|     WISCONSIN|     Flood|         201903|       201903|       13|     31|       18.0437500000|
|    137538|  827161|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0423611250|
|    135253|  813954|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0409722083|
|    135253|  813953|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0340277917|
|    135303|  814228|     WISCONSIN|     Flood|         201903|       201903|       13|     31|       18.0312500000|
|    135253|  813951|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0263888750|
|    137538|  826410|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0256944583|
|    135955|  826409|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0256944583|
|    135955|  826261|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0243055417|
|    137538|  826260|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0243055417|
|    135955|  825478|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0138888750|
|    144932|  870319|        OREGON|Heavy Snow|         201912|       201912|        1|     19|       18.0104166667|
|    134119|  803062|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0083333333|
|    134725|  807222|      MISSOURI|     Flood|         201903|       201903|       13|     31|       18.0083333333|
|    137204|  823654|         TEXAS|     Flood|         201905|       201905|        6|     24|       18.0076388750|
|    138457|  832517|  SOUTH DAKOTA|     Flood|         201904|       201904|        6|     24|       18.0062500000|
|    138457|  832516|  SOUTH DAKOTA|     Flood|         201904|       201904|        6|     24|       18.0062500000|
|    134119|  803063|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0055555417|
|    135955|  826525|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0041666667|
|    137538|  827160|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0041666667|
|    137538|  827159|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0041666667|
|    134991|  809044|     MINNESOTA|     Flood|         201904|       201904|        4|     22|       18.0027777917|
|    135001|  809053|  NORTH DAKOTA|     Flood|         201904|       201904|        4|     22|       18.0027777917|
|    134123|  803148|      ILLINOIS|     Flood|         201902|       201902|       10|     28|       18.0013888750|
|    135252|  813990|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0013888750|
|    134123|  803145|      ILLINOIS|     Flood|         201902|       201902|       10|     28|       18.0013888750|
|    144783|  869419|  SOUTH DAKOTA|     Flood|         201912|       201912|       11|     29|       18.0006944583|
|    134123|  803147|      ILLINOIS|     Flood|         201902|       201902|       11|     28|       17.0493055417|
|    134135|  803183|      MISSOURI|     Flood|         201902|       201902|       11|     28|       17.0472222083|
|    134119|  803116|      KENTUCKY|     Flood|         201902|       201902|       11|     28|       17.0472222083|
|    134119|  803113|      KENTUCKY|     Flood|         201902|       201902|       11|     28|       17.0451388750|
|    134119|  803052|      KENTUCKY|     Flood|         201902|       201902|       11|     28|       17.0444444583|
|    137538|  826241|          IOWA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    137538|  826416|          IOWA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    135955|  826246|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    135955|  826434|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    137538|  826237|          IOWA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    142549|  856509|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     28|       17.0395833333|
|    135955|  825441|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|
|    135955|  825442|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|
|    135955|  825439|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|
|    135955|  825443|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|

### 5. Narrative

In [23]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    EPISODE_NARRATIVE, \
                    EVENT_NARRATIVE \
                    FROM stormDetails_table').show()

+----------+--------+--------------------+--------------------+
|EPISODE_ID|EVENT_ID|   EPISODE_NARRATIVE|     EVENT_NARRATIVE|
+----------+--------+--------------------+--------------------+
|    137295|  824116|Thunderstorms dev...|Thunderstorms pro...|
|    140217|  843354|An area of low pr...|A 14-inch tree fe...|
|    142648|  861581|Thunderstorms eru...|A trained spotter...|
|    142648|  861584|Thunderstorms eru...|The local police ...|
|    142648|  861582|Thunderstorms eru...|A wind gust of 75...|
|    142648|  856504|Thunderstorms eru...|Tornadic wind dam...|
|    141212|  848333|A strong mid-leve...|Quarter size hail...|
|    141215|  848338|A strong mid-leve...|A few trees and p...|
|    140688|  845760|Fast moving showe...|Weatherflow site ...|
|    140688|  845762|Fast moving showe...|US Air Force wind...|
|    140688|  845764|Fast moving showe...|Weatherflow site ...|
|    141232|  848441|Police responded ...|Following a 9-1-1...|
|    133946|  801726|A strong surface ...|Snowfall amounts ...|
|    134106|  814097|A strong storm sy...|A tractor shed wa...|
|    134106|  814096|A strong storm sy...|Tree limbs were b...|
|    141237|  848459|Fast-moving showe...|A fast-moving sho...|
|    141237|  848462|Fast-moving showe...|A fast-moving sho...|
|    140062|  842668|Scattered thunder...|The buoy at Middl...|
|    140067|  842699|Isolated showers ...|Multiple public a...|
|    141077|  847645|Scattered thunder...|A mesonet station...|
+----------+--------+--------------------+--------------------+
only showing top 20 rows

### 4. Devastation: injuries, deaths and damages

In [24]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_TYPE, \
                    SUM(INJURIES_DIRECT) AS TOTAL_INJURIES_DIRECT, \
                    SUM(INJURIES_INDIRECT) AS TOTAL_INJURIES_INDIRECT, \
                    SUM(INJURIES_DIRECT) + SUM(INJURIES_INDIRECT) AS TOTAL_INJURIES \
                    FROM stormDetails_table \
                    GROUP BY EPISODE_ID, EVENT_TYPE \
                    HAVING SUM(INJURIES_DIRECT) > 0 OR SUM(INJURIES_INDIRECT) > 0').show()

+----------+-----------------+---------------------+-----------------------+--------------+
|EPISODE_ID|       EVENT_TYPE|TOTAL_INJURIES_DIRECT|TOTAL_INJURIES_INDIRECT|TOTAL_INJURIES|
+----------+-----------------+---------------------+-----------------------+--------------+
|    142648|Thunderstorm Wind|                    3|                      0|             3|
|    138507|      Rip Current|                    1|                      0|             1|
|    136101|Thunderstorm Wind|                    1|                      0|             1|
|    134997|Thunderstorm Wind|                    1|                      0|             1|
|    135479|      Strong Wind|                    1|                      0|             1|
|    135393|   Winter Weather|                    0|                      2|             2|
|    136708|            Sleet|                    0|                      3|             3|
|    134345|        Dense Fog|                    0|                     35|            35|
|    143756|             Heat|                   59|                      0|            59|
|    141081|Thunderstorm Wind|                    2|                      0|             2|
|    135543|   Winter Weather|                    0|                      2|             2|
|    134769|          Tornado|                    1|                      0|             1|
|    135677|Thunderstorm Wind|                    2|                      0|             2|
|    137239|          Tornado|                    1|                      0|             1|
|    134041|        Dense Fog|                    0|                      6|             6|
|    133097|      Strong Wind|                    1|                      0|             1|
|    135738|          Tornado|                    3|                      0|             3|
|    134896|      Rip Current|                    1|                      0|             1|
|    140713|Thunderstorm Wind|                    1|                      0|             1|
|    132325|       Heavy Snow|                    0|                     66|            66|
+----------+-----------------+---------------------+-----------------------+--------------+
only showing top 20 rows

In [25]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_TYPE, \
                    SUM(DEATHS_DIRECT) AS TOTAL_DEATHS_DIRECT, \
                    SUM(DEATHS_INDIRECT) AS TOTAL_DEATHS_INDIRECT, \
                    SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) AS TOTAL_DEATHS \
                    FROM stormDetails_table \
                    GROUP BY EPISODE_ID, EVENT_TYPE \
                    HAVING SUM(DEATHS_DIRECT) > 0 OR SUM(DEATHS_INDIRECT) > 0').show()

+----------+--------------------+-------------------+---------------------+------------+
|EPISODE_ID|          EVENT_TYPE|TOTAL_DEATHS_DIRECT|TOTAL_DEATHS_INDIRECT|TOTAL_DEATHS|
+----------+--------------------+-------------------+---------------------+------------+
|    141232|         Rip Current|                  1|                    0|           1|
|    136101|   Thunderstorm Wind|                  1|                    0|           1|
|    138456|               Flood|                  1|                    0|           1|
|    133947|      Winter Weather|                  0|                    1|           1|
|    137299|     Cold/Wind Chill|                  1|                    0|           1|
|    135254|         Debris Flow|                  1|                    0|           1|
|    135179|               Flood|                  1|                    0|           1|
|    135394|        Winter Storm|                  0|                    1|           1|
|    135494|      Winter Weather|                  0|                    2|           2|
|    135393|        Winter Storm|                  0|                    2|           2|
|    135393|      Winter Weather|                  0|                    2|           2|
|    134342|Extreme Cold/Wind...|                  2|                    0|           2|
|    133968|        Winter Storm|                  0|                    3|           3|
|    134059|Extreme Cold/Wind...|                  4|                    0|           4|
|    141081|   Thunderstorm Wind|                  1|                    0|           1|
|    136299|   Thunderstorm Wind|                  1|                    0|           1|
|    133970|      Winter Weather|                  0|                    1|           1|
|    133013|      Winter Weather|                  0|                    1|           1|
|    133015|      Winter Weather|                  0|                    1|           1|
|    135543|      Winter Weather|                  0|                    1|           1|
+----------+--------------------+-------------------+---------------------+------------+
only showing top 20 rows

In [26]:
sqlContext.sql('SELECT \
                    EVENT_TYPE, \
                    SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) AS TOTAL_DEATHS \
                    FROM stormDetails_table \
                    GROUP BY EVENT_TYPE \
                    ORDER BY SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) DESC').show(100)

+--------------------+------------+
|          EVENT_TYPE|TOTAL_DEATHS|
+--------------------+------------+
|         Rip Current|          58|
|      Winter Weather|          56|
|               Flood|          49|
|                Heat|          48|
|             Tornado|          42|
|         Flash Flood|          41|
|   Thunderstorm Wind|          39|
|     Cold/Wind Chill|          33|
|           Lightning|          24|
|      Excessive Heat|          20|
|        Winter Storm|          20|
|           High Surf|          19|
|         Strong Wind|          18|
|Extreme Cold/Wind...|          15|
|           Avalanche|          14|
|          Heavy Snow|          10|
|           Dense Fog|           9|
|            Blizzard|           7|
|          Heavy Rain|           6|
|            Wildfire|           6|
| Tropical Depression|           4|
|Marine Thundersto...|           3|
|         Debris Flow|           2|
|         Sneakerwave|           2|
|                Hail|           1|
|  Marine Strong Wind|           1|
|           High Wind|           1|
|      Tropical Storm|           1|
|    Lake-Effect Snow|           1|
|          Waterspout|           0|
|        Funnel Cloud|           0|
|             Drought|           0|
|       Coastal Flood|           0|
|Astronomical Low ...|           0|
|Marine Tropical D...|           0|
|         Marine Hail|           0|
|        Frost/Freeze|           0|
|          Dust Devil|           0|
|          Dust Storm|           0|
|              Seiche|           0|
|               Sleet|           0|
|           Hurricane|           0|
|    Marine High Wind|           0|
|        Freezing Fog|           0|
|Marine Tropical S...|           0|
|         Dense Smoke|           0|
|Marine Hurricane/...|           0|
|           Ice Storm|           0|
|     Lakeshore Flood|           0|
|    Storm Surge/Tide|           0|
|    Volcanic Ashfall|           0|
+--------------------+------------+

In [27]:
sqlContext.sql('SELECT \
                    STATE, \
                    SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) AS TOTAL_DEATHS \
                    FROM stormDetails_table \
                    GROUP BY STATE \
                    ORDER BY SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) DESC').show(100)

+--------------------+------------+
|               STATE|TOTAL_DEATHS|
+--------------------+------------+
|          CALIFORNIA|          59|
|              NEVADA|          44|
|               TEXAS|          42|
|             FLORIDA|          40|
|             ALABAMA|          29|
|            MISSOURI|          26|
|           WISCONSIN|          26|
|            COLORADO|          21|
|                OHIO|          17|
|      NORTH CAROLINA|          17|
|            ILLINOIS|          16|
|             INDIANA|          15|
|            KENTUCKY|          13|
|            OKLAHOMA|          12|
|         MISSISSIPPI|          11|
|             ARIZONA|          10|
|        SOUTH DAKOTA|           9|
|          WASHINGTON|           8|
|            VIRGINIA|           8|
|           LOUISIANA|           8|
|           TENNESSEE|           7|
|            NEBRASKA|           7|
|                IOWA|           7|
|      SOUTH CAROLINA|           7|
|              OREGON|           7|
|              KANSAS|           7|
|             WYOMING|           6|
|            NEW YORK|           6|
|            MICHIGAN|           6|
|        PENNSYLVANIA|           6|
|            ARKANSAS|           5|
|             GEORGIA|           4|
|           MINNESOTA|           4|
|      AMERICAN SAMOA|           4|
|            MARYLAND|           4|
|               IDAHO|           4|
|              HAWAII|           4|
|        NORTH DAKOTA|           3|
|          NEW MEXICO|           3|
|         CONNECTICUT|           3|
|                UTAH|           3|
|       WEST VIRGINIA|           3|
|             VERMONT|           2|
|      ATLANTIC SOUTH|           2|
|             MONTANA|           2|
|               MAINE|           1|
|      ATLANTIC NORTH|           1|
|       LAKE SUPERIOR|           1|
|      GULF OF MEXICO|           0|
|       LAKE ST CLAIR|           0|
|       MASSACHUSETTS|           0|
|      VIRGIN ISLANDS|           0|
|        RHODE ISLAND|           0|
|          LAKE HURON|           0|
|              ALASKA|           0|
|            DELAWARE|           0|
|       NEW HAMPSHIRE|           0|
|DISTRICT OF COLUMBIA|           0|
|          NEW JERSEY|           0|
|         PUERTO RICO|           0|
|           E PACIFIC|           0|
|        LAKE ONTARIO|           0|
|       LAKE MICHIGAN|           0|
|           LAKE ERIE|           0|
|       HAWAII WATERS|           0|
+--------------------+------------+

In [28]:
sqlContext.sql('SELECT \
                    STATE, \
                    SUM(DEATHS_DIRECT) AS TOTAL_DEATHS_DIRECT, \
                    SUM(DEATHS_INDIRECT) AS TOTAL_DEATHS_INDIRECT, \
                    SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) AS TOTAL_DEATHS \
                    FROM stormDetails_table \
                    GROUP BY STATE \
                    ORDER BY SUM(DEATHS_DIRECT) + SUM(DEATHS_INDIRECT) DESC').show(50)

+--------------+-------------------+---------------------+------------+
|         STATE|TOTAL_DEATHS_DIRECT|TOTAL_DEATHS_INDIRECT|TOTAL_DEATHS|
+--------------+-------------------+---------------------+------------+
|    CALIFORNIA|                 32|                   27|          59|
|        NEVADA|                 25|                   19|          44|
|         TEXAS|                 37|                    5|          42|
|       FLORIDA|                 33|                    7|          40|
|       ALABAMA|                 29|                    0|          29|
|     WISCONSIN|                 10|                   16|          26|
|      MISSOURI|                 14|                   12|          26|
|      COLORADO|                 17|                    4|          21|
|          OHIO|                 11|                    6|          17|
|NORTH CAROLINA|                 17|                    0|          17|
|      ILLINOIS|                 11|                    5|          16|
|       INDIANA|                  3|                   12|          15|
|      KENTUCKY|                 13|                    0|          13|
|      OKLAHOMA|                 12|                    0|          12|
|   MISSISSIPPI|                  8|                    3|          11|
|       ARIZONA|                 10|                    0|          10|
|  SOUTH DAKOTA|                  6|                    3|           9|
|    WASHINGTON|                  1|                    7|           8|
|      VIRGINIA|                  6|                    2|           8|
|     LOUISIANA|                  8|                    0|           8|
|SOUTH CAROLINA|                  7|                    0|           7|
|        KANSAS|                  1|                    6|           7|
|     TENNESSEE|                  6|                    1|           7|
|      NEBRASKA|                  5|                    2|           7|
|        OREGON|                  4|                    3|           7|
|          IOWA|                  5|                    2|           7|
|       WYOMING|                  3|                    3|           6|
|      MICHIGAN|                  3|                    3|           6|
|  PENNSYLVANIA|                  6|                    0|           6|
|      NEW YORK|                  5|                    1|           6|
|      ARKANSAS|                  5|                    0|           5|
|     MINNESOTA|                  3|                    1|           4|
|         IDAHO|                  1|                    3|           4|
|       GEORGIA|                  3|                    1|           4|
|AMERICAN SAMOA|                  4|                    0|           4|
|      MARYLAND|                  4|                    0|           4|
|        HAWAII|                  0|                    4|           4|
|  NORTH DAKOTA|                  3|                    0|           3|
|    NEW MEXICO|                  2|                    1|           3|
|   CONNECTICUT|                  3|                    0|           3|
|          UTAH|                  3|                    0|           3|
| WEST VIRGINIA|                  2|                    1|           3|
|       VERMONT|                  2|                    0|           2|
|ATLANTIC SOUTH|                  2|                    0|           2|
|       MONTANA|                  2|                    0|           2|
|         MAINE|                  1|                    0|           1|
|ATLANTIC NORTH|                  1|                    0|           1|
| LAKE SUPERIOR|                  1|                    0|           1|
|GULF OF MEXICO|                  0|                    0|           0|
| MASSACHUSETTS|                  0|                    0|           0|
+--------------+-------------------+---------------------+------------+
only showing top 50 rows

### 5. Flood Causes, Damage in properties by episode

In [29]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_TYPE, \
                    STATE, \
                    FLOOD_CAUSE, \
                    SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) AS DAMAGE_PROPERTY_K \
                    FROM stormDetails_table \
                    WHERE FLOOD_CAUSE IS NOT NULL \
                    GROUP BY EPISODE_ID, EVENT_TYPE, STATE, FLOOD_CAUSE \
                    ORDER BY SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) DESC').show(100)

+----------+-----------+--------------------+--------------------+------------------+
|EPISODE_ID| EVENT_TYPE|               STATE|         FLOOD_CAUSE| DAMAGE_PROPERTY_K|
+----------+-----------+--------------------+--------------------+------------------+
|    138078|      Flood|            NEW YORK|Heavy Rain / Snow...|            8550.0|
|    139574|      Flood|            NEW YORK|Heavy Rain / Snow...|            7100.0|
|    137944|      Flood|        SOUTH DAKOTA|Heavy Rain / Snow...| 6322.610000014305|
|    138354|      Flood|            ARKANSAS|          Heavy Rain|            6000.0|
|    142900|      Flood|        SOUTH DAKOTA|          Heavy Rain| 5441.819999575615|
|    135533|Flash Flood|             GEORGIA|          Heavy Rain|            5000.0|
|    136519|      Flood|        SOUTH DAKOTA|Heavy Rain / Snow...| 4492.980007410049|
|    140910|      Flood|            NEW YORK|Heavy Rain / Snow...|            4150.0|
|    139113|      Flood|            ARKANSAS|          Heavy Rain|            4000.0|
|    135532|      Flood|            NEBRASKA|          Heavy Rain|            3635.0|
|    135253|      Flood|            NEBRASKA|Heavy Rain / Snow...|3412.4999992847443|
|    135179|      Flood|           TENNESSEE|          Heavy Rain| 3236.579999923706|
|    138254|      Flood|        SOUTH DAKOTA|          Heavy Rain|            3202.0|
|    138724|      Flood|              ALASKA|Heavy Rain / Snow...|            3000.0|
|    138720|      Flood|              ALASKA|Heavy Rain / Snow...|            3000.0|
|    137982|      Flood|                IOWA|Heavy Rain / Snow...|2768.5800000429153|
|    142456|Flash Flood|             VERMONT|          Heavy Rain|            2750.0|
|    137990|      Flood|           MINNESOTA|Heavy Rain / Snow...|            2725.0|
|    135541|      Flood|                IOWA|Heavy Rain / Snow...|            2448.0|
|    138330|Flash Flood|        SOUTH DAKOTA|          Heavy Rain|            2350.0|
|    142549|      Flood|        SOUTH DAKOTA|          Heavy Rain|            2342.0|
|    139772|Flash Flood|        PENNSYLVANIA|          Heavy Rain|            2000.0|
|    141424|Flash Flood|        NORTH DAKOTA|          Heavy Rain|            1750.0|
|    139516|Flash Flood|                OHIO|          Heavy Rain|            1714.0|
|    133572|Flash Flood|         MISSISSIPPI|          Heavy Rain|            1703.0|
|    143175|Flash Flood|            NEW YORK|          Heavy Rain|           1688.75|
|    135262|Flash Flood|           TENNESSEE|          Heavy Rain|1688.0600128173828|
|    137851|Flash Flood|         MISSISSIPPI|          Heavy Rain|            1603.0|
|    142496|Flash Flood|           WISCONSIN|          Heavy Rain|            1510.0|
|    138835|Flash Flood|            MISSOURI|          Heavy Rain|            1380.0|
|    136623|      Flood|            NEBRASKA|          Heavy Rain|            1300.0|
|    139835|      Flood|            MICHIGAN|          Heavy Rain|            1300.0|
|    140637|Flash Flood|           LOUISIANA|          Heavy Rain|            1228.0|
|    142456|      Flood|             VERMONT|          Heavy Rain|            1150.0|
|    138503|      Flood|           MINNESOTA|          Heavy Rain|            1140.0|
|    135303|      Flood|           WISCONSIN|Heavy Rain / Snow...|            1090.0|
|    135677|Flash Flood|                OHIO|          Heavy Rain|            1053.0|
|    137086|      Flood|                IOWA|          Heavy Rain|            1040.0|
|    135532|      Flood|            NEBRASKA|             Ice Jam|            1005.0|
|    143346|      Flood|              ALASKA|Heavy Rain / Snow...|            1000.0|
|    139226|Flash Flood|        SOUTH DAKOTA|          Heavy Rain|             936.0|
|    134123|      Flood|            ILLINOIS|          Heavy Rain|             930.0|
|    139585|Flash Flood|            MICHIGAN|          Heavy Rain|             895.0|
|    140854|Flash Flood|        PENNSYLVANIA|          Heavy Rain|             885.0|
|    138337|      Flood|        SOUTH DAKOTA|          Heavy Rain|             850.0|
|    137087|      Flood|                IOWA|          Heavy Rain|             850.0|
|    135179|Flash Flood|           TENNESSEE|          Heavy Rain|             850.0|
|    138929|Flash Flood|            NEBRASKA|          Heavy Rain|             842.0|
|    137742|Flash Flood|        NORTH DAKOTA|          Heavy Rain|             840.0|
|    137246|Flash Flood|            OKLAHOMA|          Heavy Rain|             825.0|
|    135581|      Flood|               IDAHO|Heavy Rain / Snow...|             823.0|
|    135483|Flash Flood|              KANSAS|          Heavy Rain| 813.2000000178814|
|    137787|Flash Flood|         MISSISSIPPI|          Heavy Rain|             810.5|
|    143911|Flash Flood|          CALIFORNIA|          Heavy Rain|             810.0|
|    135558|      Flood|             MONTANA|Heavy Rain / Snow...|             804.0|
|    135245|Flash Flood|           TENNESSEE|          Heavy Rain| 791.6399993896484|
|    143449|Flash Flood|            NEW YORK|          Heavy Rain|             790.0|
|    135955|      Flood|        SOUTH DAKOTA|Heavy Rain / Snow...| 751.4500000476837|
|    135880|      Flood|        SOUTH DAKOTA|Heavy Rain / Snow...|             750.0|
|    136819|Flash Flood|           LOUISIANA|          Heavy Rain|             750.0|
|    135945|Flash Flood|         MISSISSIPPI|          Heavy Rain|             750.0|
|    140363|Flash Flood|            NEBRASKA|          Heavy Rain|             750.0|
|    140616|Flash Flood|                OHIO|          Heavy Rain|             750.0|
|    142006|Flash Flood|              KANSAS|          Heavy Rain|             750.0|
|    135876|      Flood|        SOUTH DAKOTA|             Ice Jam|             750.0|
|    140363|      Flood|            NEBRASKA|          Heavy Rain|             750.0|
|    138040|      Flood|            ILLINOIS|          Heavy Rain|             722.0|
|    143391|      Flood|            NEW YORK|          Heavy Rain| 721.2300000190735|
|    141836|Flash Flood|               TEXAS|Heavy Rain / Trop...|             720.0|
|    133887|      Flood|            NEW YORK|Heavy Rain / Snow...|             710.0|
|    142262|      Flood|            NEW YORK|Heavy Rain / Snow...|             710.0|
|    143916|Flash Flood|          CALIFORNIA|          Heavy Rain|             705.0|
|    142358|Flash Flood|        NORTH DAKOTA|          Heavy Rain|             700.0|
|    142193|      Flood|              ALASKA|             Ice Jam|             700.0|
|    143032|Flash Flood|        SOUTH DAKOTA|          Heavy Rain|             700.0|
|    143175|      Flood|            NEW YORK|          Heavy Rain|             699.0|
|    135070|      Flood|          CALIFORNIA|          Heavy Rain|             660.0|
|    135253|Flash Flood|            NEBRASKA|   Dam / Levee Break|             645.0|
|    141605|Flash Flood|            ARKANSAS|          Heavy Rain|             640.0|
|    143764|Debris Flow|              ALASKA|          Heavy Rain|             637.0|
|    139219|      Flood|      NORTH CAROLINA|          Heavy Rain|             635.0|
|    141738|Flash Flood|        SOUTH DAKOTA|          Heavy Rain|             635.0|
|    134119|      Flood|            KENTUCKY|          Heavy Rain|             631.0|
|    141952|      Flood|        SOUTH DAKOTA|          Heavy Rain|             621.5|
|    136168|Flash Flood|             VERMONT|Heavy Rain / Snow...|             601.0|
|    137538|      Flood|                IOWA|Heavy Rain / Snow...|             600.0|
|    140479|      Flood|             FLORIDA|          Heavy Rain|             588.0|
|    139525|Flash Flood|                OHIO|          Heavy Rain|             581.0|
|    135541|      Flood|                IOWA|             Ice Jam|             561.0|
|    138566|      Flood|           MINNESOTA|          Heavy Rain|             560.0|
|    135559|      Flood|           WISCONSIN|Heavy Rain / Snow...| 552.6200000047684|
|    137088|      Flood|                IOWA|          Heavy Rain|             550.0|
|    138784|Flash Flood|           MINNESOTA|          Heavy Rain|             515.0|
|    134569|      Flood|           TENNESSEE|          Heavy Rain|             500.0|
|    135518|      Flood|            MISSOURI|Heavy Rain / Snow...|             500.0|
|    140101|Flash Flood|DISTRICT OF COLUMBIA|          Heavy Rain|             500.0|
|    140231|Flash Flood|            MARYLAND|          Heavy Rain|             500.0|
|    141429|Flash Flood|           MINNESOTA|          Heavy Rain|             500.0|
|    139892|Flash Flood|            COLORADO|          Heavy Rain|             500.0|
|    137850|Flash Flood|            ARKANSAS|          Heavy Rain|             465.0|
+----------+-----------+--------------------+--------------------+------------------+
only showing top 100 rows

### 6. Damage in properties by TYPE OF EVENT

In [30]:
sqlContext.sql('SELECT \
                    EVENT_TYPE, \
                    SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) AS DAMAGE_PROPERTY_K \
                    FROM stormDetails_table \
                    GROUP BY EVENT_TYPE \
                    ORDER BY SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) DESC').show(100)

+--------------------+------------------+
|          EVENT_TYPE| DAMAGE_PROPERTY_K|
+--------------------+------------------+
|               Flood|118979.80000536144|
|   Thunderstorm Wind|  91331.7800008934|
|             Tornado| 81087.81000041962|
|         Flash Flood| 75903.32001295686|
|     Lakeshore Flood|           49786.0|
|           High Wind| 23776.90000024438|
|                Hail|14577.580000052229|
|         Strong Wind|   12119.800000377|
|           Lightning| 9683.800000026822|
|        Winter Storm|            7889.5|
|      Winter Weather|            6557.5|
|            Blizzard|3959.0800001621246|
|            Wildfire|2456.7000000476837|
|           Ice Storm| 2306.060000002384|
|          Heavy Snow|2077.9499995708466|
|      Excessive Heat|            1500.0|
|    Lake-Effect Snow|            1307.0|
|          Heavy Rain|            1020.0|
|         Debris Flow|  981.920000076294|
|      Tropical Storm| 948.8000000268221|
|  Marine Strong Wind|             559.5|
|       Coastal Flood|             445.0|
|           Dense Fog|             392.0|
|           Avalanche|             205.0|
|             Drought|             200.0|
|           Hurricane|             156.0|
|Extreme Cold/Wind...|             155.0|
|Marine Thundersto...|122.00999999977648|
|          Dust Storm|             100.0|
|    Marine High Wind|             100.0|
|        Freezing Fog|              90.0|
|          Dust Devil|              70.0|
|    Storm Surge/Tide|              15.0|
|              Seiche|              13.0|
|               Sleet|              10.0|
|           High Surf|              10.0|
|          Waterspout|               5.0|
|         Rip Current|               0.0|
|        Funnel Cloud|               0.0|
| Tropical Depression|               0.0|
|                Heat|               0.0|
|Marine Tropical D...|               0.0|
|         Marine Hail|               0.0|
|Astronomical Low ...|               0.0|
|Marine Hurricane/...|               0.0|
|     Cold/Wind Chill|               0.0|
|         Sneakerwave|               0.0|
|Marine Tropical S...|               0.0|
|    Volcanic Ashfall|               0.0|
|        Frost/Freeze|               0.0|
|         Dense Smoke|               0.0|
+--------------------+------------------+

### 7. Damage in properties by STATE

In [31]:
sqlContext.sql('SELECT \
                    STATE, \
                    SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) AS DAMAGE_PROPERTY_K \
                    FROM stormDetails_table \
                    GROUP BY STATE \
                    ORDER BY SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) DESC').show(100)

+--------------------+--------------------+
|               STATE|   DAMAGE_PROPERTY_K|
+--------------------+--------------------+
|            NEW YORK|   88445.98000001907|
|        SOUTH DAKOTA|   37072.49000740051|
|               TEXAS|  29313.399999916553|
|         MISSISSIPPI|  27281.850000038743|
|                OHIO|  26119.100000061095|
|            NEBRASKA|   20113.04999923706|
|           MINNESOTA|  19876.259999990463|
|            ARKANSAS|             18800.5|
|                IOWA|   17799.80999982357|
|             GEORGIA|  15952.590000018477|
|          CALIFORNIA|  14429.900000028312|
|           WISCONSIN|  14100.220000006258|
|            MISSOURI|   13335.85000038147|
|           TENNESSEE|  12550.560013025999|
|            OKLAHOMA|  12336.900000013411|
|           LOUISIANA|             10909.0|
|      NORTH CAROLINA|  10389.600000023842|
|        PENNSYLVANIA|  10350.200000047684|
|            KENTUCKY|  10030.099999979138|
|            MICHIGAN|    9304.54999947548|
|              ALASKA|              8545.0|
|             VERMONT|              8243.0|
|             INDIANA|   7862.230000060052|
|              KANSAS|    7177.20000012964|
|            VIRGINIA|   7147.200000196695|
|        NORTH DAKOTA|   6899.600000023842|
|          NEW MEXICO|              5644.0|
|       WEST VIRGINIA|   5284.100000008941|
|             FLORIDA|   5224.810000007972|
|            ILLINOIS|    5191.39999961853|
|             ARIZONA|              4085.5|
|            MARYLAND|              2274.0|
|              OREGON|  2239.8499995470047|
|       MASSACHUSETTS|  2208.8500006347895|
|               IDAHO|              2039.0|
|      SOUTH CAROLINA|  1941.1900000553578|
|          WASHINGTON|  1631.7000000849366|
|             MONTANA|              1462.5|
|            COLORADO|   1420.800000011921|
|             ALABAMA|   981.6000003218651|
|          NEW JERSEY|               934.0|
|         CONNECTICUT|   802.9999999403954|
|       LAKE MICHIGAN|               665.0|
|DISTRICT OF COLUMBIA|               500.0|
|              NEVADA|               438.0|
|               MAINE|               420.0|
|             WYOMING|               330.5|
|              HAWAII|              254.25|
|         PUERTO RICO|               151.5|
|        RHODE ISLAND|  142.70000000298023|
|      ATLANTIC NORTH|               111.0|
|       NEW HAMPSHIRE|   72.91000008583069|
|      AMERICAN SAMOA|                45.0|
|      GULF OF MEXICO|                 5.5|
|                UTAH|                 5.0|
|           LAKE ERIE|                 5.0|
|      ATLANTIC SOUTH|0.009999999776482582|
|       LAKE SUPERIOR|                 0.0|
|       LAKE ST CLAIR|                 0.0|
|          LAKE HURON|                 0.0|
|      VIRGIN ISLANDS|                 0.0|
|            DELAWARE|                 0.0|
|           E PACIFIC|                 0.0|
|        LAKE ONTARIO|                 0.0|
|       HAWAII WATERS|                 0.0|
+--------------------+--------------------+

### 8. Damage in properties and crops by STATE

In [32]:
sqlContext.sql('SELECT \
                    STATE, \
                    SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) AS DAMAGE_PROPERTY_K, \
                    SUM(CAST(LEFT(DAMAGE_CROPS, LENGTH(DAMAGE_CROPS)-1) AS FLOAT)) AS DAMAGE_CROPS_K \
                    FROM stormDetails_table \
                    GROUP BY STATE').show(100)

+--------------------+--------------------+------------------+
|               STATE|   DAMAGE_PROPERTY_K|    DAMAGE_CROPS_K|
+--------------------+--------------------+------------------+
|               TEXAS|  29313.399999916553|             781.0|
|           MINNESOTA|  19876.259999990463| 4489.860000252724|
|             VERMONT|              8243.0|               0.0|
|            NEW YORK|   88445.98000001907|               1.0|
|      ATLANTIC SOUTH|0.009999999776482582|               0.0|
|             FLORIDA|   5224.810000007972|               1.0|
|       WEST VIRGINIA|   5284.100000008941| 677.3199999332428|
|            ARKANSAS|             18800.5|            4148.0|
|      GULF OF MEXICO|                 5.5|               0.0|
|             MONTANA|              1462.5|               0.0|
|            MISSOURI|   13335.85000038147|            1333.0|
|             GEORGIA|  15952.590000018477|5.5500000063329935|
|         CONNECTICUT|   802.9999999403954|               0.0|
|             ALABAMA|   981.6000003218651|               0.0|
|                OHIO|  26119.100000061095|             152.0|
|       MASSACHUSETTS|  2208.8500006347895|               0.0|
|        RHODE ISLAND|  142.70000000298023|               0.0|
|              KANSAS|    7177.20000012964|1691.7000001370907|
|                IOWA|   17799.80999982357|2219.3799999281764|
|            VIRGINIA|   7147.200000196695|             720.0|
|              ALASKA|              8545.0|               0.0|
|      ATLANTIC NORTH|               111.0|               0.0|
|            MARYLAND|              2274.0|               0.0|
|          CALIFORNIA|  14429.900000028312|            2855.0|
|        SOUTH DAKOTA|   37072.49000740051|4478.5900003910065|
|      NORTH CAROLINA|  10389.600000023842|             769.0|
|         MISSISSIPPI|  27281.850000038743|            2919.0|
|DISTRICT OF COLUMBIA|               500.0|               0.0|
|        NORTH DAKOTA|   6899.600000023842|            2220.0|
|            COLORADO|   1420.800000011921|             388.0|
|            KENTUCKY|  10030.099999979138|102.72000001743436|
|              NEVADA|               438.0|               0.0|
|           TENNESSEE|  12550.560013025999|               0.0|
|           WISCONSIN|  14100.220000006258|             990.0|
|               MAINE|               420.0|               0.0|
|            NEBRASKA|   20113.04999923706|            3686.0|
|             WYOMING|               330.5|               0.0|
|             INDIANA|   7862.230000060052|             371.0|
|            ILLINOIS|    5191.39999961853|            3615.0|
|               IDAHO|              2039.0|              50.0|
|          NEW JERSEY|               934.0|               0.0|
|              HAWAII|              254.25|              49.0|
|          NEW MEXICO|              5644.0|               0.0|
|       LAKE MICHIGAN|               665.0|               0.0|
|       LAKE SUPERIOR|                 0.0|               0.0|
|          LAKE HURON|                 0.0|               0.0|
|            OKLAHOMA|  12336.900000013411|               1.0|
|                UTAH|                 5.0|               0.0|
|            MICHIGAN|    9304.54999947548|             190.0|
|           LOUISIANA|             10909.0|             700.0|
|        PENNSYLVANIA|  10350.200000047684|             175.0|
|            DELAWARE|                 0.0|               0.0|
|          WASHINGTON|  1631.7000000849366|               2.0|
|      SOUTH CAROLINA|  1941.1900000553578|  4.06000005081296|
|             ARIZONA|              4085.5|               0.0|
|              OREGON|  2239.8499995470047|              62.0|
|         PUERTO RICO|               151.5|               0.0|
|           LAKE ERIE|                 5.0|               0.0|
|       NEW HAMPSHIRE|   72.91000008583069|               0.0|
|      AMERICAN SAMOA|                45.0|              11.0|
|           E PACIFIC|                 0.0|               0.0|
|        LAKE ONTARIO|                 0.0|               0.0|
|       HAWAII WATERS|                 0.0|               0.0|
|       LAKE ST CLAIR|                 0.0|               0.0|
|      VIRGIN ISLANDS|                 0.0|               0.0|
+--------------------+--------------------+------------------+

In [33]:
sqlContext.sql('SELECT \
                    STATE, \
                    SUM(CAST(LEFT(DAMAGE_CROPS, LENGTH(DAMAGE_CROPS)-1) AS FLOAT)) AS DAMAGE_CROPS_K \
                    FROM stormDetails_table \
                    GROUP BY STATE \
                    ORDER BY SUM(CAST(LEFT(DAMAGE_CROPS, LENGTH(DAMAGE_CROPS)-1) AS FLOAT)) DESC').show(100)

+--------------------+------------------+
|               STATE|    DAMAGE_CROPS_K|
+--------------------+------------------+
|           MINNESOTA| 4489.860000252724|
|        SOUTH DAKOTA|4478.5900003910065|
|            ARKANSAS|            4148.0|
|            NEBRASKA|            3686.0|
|            ILLINOIS|            3615.0|
|         MISSISSIPPI|            2919.0|
|          CALIFORNIA|            2855.0|
|        NORTH DAKOTA|            2220.0|
|                IOWA|2219.3799999281764|
|              KANSAS|1691.7000001370907|
|            MISSOURI|            1333.0|
|           WISCONSIN|             990.0|
|               TEXAS|             781.0|
|      NORTH CAROLINA|             769.0|
|            VIRGINIA|             720.0|
|           LOUISIANA|             700.0|
|       WEST VIRGINIA| 677.3199999332428|
|            COLORADO|             388.0|
|             INDIANA|             371.0|
|            MICHIGAN|             190.0|
|        PENNSYLVANIA|             175.0|
|                OHIO|             152.0|
|            KENTUCKY|102.72000001743436|
|              OREGON|              62.0|
|               IDAHO|              50.0|
|              HAWAII|              49.0|
|      AMERICAN SAMOA|              11.0|
|             GEORGIA|5.5500000063329935|
|      SOUTH CAROLINA|  4.06000005081296|
|          WASHINGTON|               2.0|
|            OKLAHOMA|               1.0|
|            NEW YORK|               1.0|
|             FLORIDA|               1.0|
|             VERMONT|               0.0|
|      ATLANTIC SOUTH|               0.0|
|               MAINE|               0.0|
|      GULF OF MEXICO|               0.0|
|       MASSACHUSETTS|               0.0|
|             WYOMING|               0.0|
|            DELAWARE|               0.0|
|       LAKE ST CLAIR|               0.0|
|             MONTANA|               0.0|
|        RHODE ISLAND|               0.0|
|            MARYLAND|               0.0|
|          NEW JERSEY|               0.0|
|       LAKE MICHIGAN|               0.0|
|             ARIZONA|               0.0|
|       NEW HAMPSHIRE|               0.0|
|      VIRGIN ISLANDS|               0.0|
|         CONNECTICUT|               0.0|
|              ALASKA|               0.0|
|DISTRICT OF COLUMBIA|               0.0|
|              NEVADA|               0.0|
|          NEW MEXICO|               0.0|
|       LAKE SUPERIOR|               0.0|
|          LAKE HURON|               0.0|
|         PUERTO RICO|               0.0|
|           E PACIFIC|               0.0|
|        LAKE ONTARIO|               0.0|
|             ALABAMA|               0.0|
|      ATLANTIC NORTH|               0.0|
|           TENNESSEE|               0.0|
|                UTAH|               0.0|
|           LAKE ERIE|               0.0|
|       HAWAII WATERS|               0.0|
+--------------------+------------------+

### 9. Total damages by STATE

In [34]:
sqlContext.sql('SELECT \
                    STATE, \
                    SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) + SUM(CAST(LEFT(DAMAGE_CROPS, LENGTH(DAMAGE_CROPS)-1) AS FLOAT)) AS TOTAL_DAMAGES \
                    FROM stormDetails_table \
                    GROUP BY STATE \
                    ORDER BY SUM(CAST(LEFT(DAMAGE_PROPERTY, LENGTH(DAMAGE_PROPERTY)-1) AS FLOAT)) + SUM(CAST(LEFT(DAMAGE_CROPS, LENGTH(DAMAGE_CROPS)-1) AS FLOAT)) DESC').show(100)

+--------------------+--------------------+
|               STATE|       TOTAL_DAMAGES|
+--------------------+--------------------+
|            NEW YORK|   88446.98000001907|
|        SOUTH DAKOTA|   41551.08000779152|
|         MISSISSIPPI|  30200.850000038743|
|               TEXAS|  30094.399999916553|
|                OHIO|  26271.100000061095|
|           MINNESOTA|  24366.120000243187|
|            NEBRASKA|   23799.04999923706|
|            ARKANSAS|             22948.5|
|                IOWA|  20019.189999751747|
|          CALIFORNIA|  17284.900000028312|
|             GEORGIA|   15958.14000002481|
|           WISCONSIN|  15090.220000006258|
|            MISSOURI|   14668.85000038147|
|           TENNESSEE|  12550.560013025999|
|            OKLAHOMA|  12337.900000013411|
|           LOUISIANA|             11609.0|
|      NORTH CAROLINA|  11158.600000023842|
|        PENNSYLVANIA|  10525.200000047684|
|            KENTUCKY|  10132.819999996573|
|            MICHIGAN|    9494.54999947548|
|        NORTH DAKOTA|   9119.600000023842|
|              KANSAS|    8868.90000026673|
|            ILLINOIS|    8806.39999961853|
|              ALASKA|              8545.0|
|             VERMONT|              8243.0|
|             INDIANA|   8233.230000060052|
|            VIRGINIA|   7867.200000196695|
|       WEST VIRGINIA|  5961.4199999421835|
|          NEW MEXICO|              5644.0|
|             FLORIDA|   5225.810000007972|
|             ARIZONA|              4085.5|
|              OREGON|  2301.8499995470047|
|            MARYLAND|              2274.0|
|       MASSACHUSETTS|  2208.8500006347895|
|               IDAHO|              2089.0|
|      SOUTH CAROLINA|  1945.2500001061708|
|            COLORADO|   1808.800000011921|
|          WASHINGTON|  1633.7000000849366|
|             MONTANA|              1462.5|
|             ALABAMA|   981.6000003218651|
|          NEW JERSEY|               934.0|
|         CONNECTICUT|   802.9999999403954|
|       LAKE MICHIGAN|               665.0|
|DISTRICT OF COLUMBIA|               500.0|
|              NEVADA|               438.0|
|               MAINE|               420.0|
|             WYOMING|               330.5|
|              HAWAII|              303.25|
|         PUERTO RICO|               151.5|
|        RHODE ISLAND|  142.70000000298023|
|      ATLANTIC NORTH|               111.0|
|       NEW HAMPSHIRE|   72.91000008583069|
|      AMERICAN SAMOA|                56.0|
|      GULF OF MEXICO|                 5.5|
|                UTAH|                 5.0|
|           LAKE ERIE|                 5.0|
|      ATLANTIC SOUTH|0.009999999776482582|
|       LAKE SUPERIOR|                 0.0|
|       LAKE ST CLAIR|                 0.0|
|          LAKE HURON|                 0.0|
|      VIRGIN ISLANDS|                 0.0|
|            DELAWARE|                 0.0|
|           E PACIFIC|                 0.0|
|        LAKE ONTARIO|                 0.0|
|       HAWAII WATERS|                 0.0|
+--------------------+--------------------+

## Fatalities

In [35]:
dfFatalities2019.createOrReplaceTempView('fatalities_table')

In [36]:
sqlContext.sql('SELECT *\
                   FROM fatalities_table').show(10)

+-------------+-------+--------+-----------+--------+-------------+-------------------+------------+------------+--------------------+---------------+
|FAT_YEARMONTH|FAT_DAY|FAT_TIME|FATALITY_ID|EVENT_ID|FATALITY_TYPE|      FATALITY_DATE|FATALITY_AGE|FATALITY_SEX|   FATALITY_LOCATION|EVENT_YEARMONTH|
+-------------+-------+--------+-----------+--------+-------------+-------------------+------------+------------+--------------------+---------------+
|       201906|      6|       0|      38341|  817354|            D|06/06/2019 00:00:00|          97|           M|  Outside/Open Areas|         201906|
|       201906|      9|       0|      38480|  819069|            D|06/09/2019 00:00:00|          45|           M|Vehicle/Towed Tra...|         201906|
|       201906|     20|       0|      38532|  820152|            D|06/20/2019 00:00:00|        null|           M|            In Water|         201906|
|       201906|     22|       0|      38559|  820397|            D|06/22/2019 00:00:00|          48|           M|            In Water|         201906|
|       201906|     23|       0|      38568|  820556|            D|06/23/2019 00:00:00|          41|           M|            In Water|         201906|
|       201906|     23|       0|      38569|  820556|            D|06/23/2019 00:00:00|          59|           M|            In Water|         201906|
|       201906|     21|       0|      38973|  823215|            D|06/21/2019 00:00:00|          22|           M|             Boating|         201906|
|       201906|     21|       0|      38967|  823241|            D|06/21/2019 00:00:00|          48|           F|Vehicle/Towed Tra...|         201906|
|       201906|     10|       0|      38815|  824254|            D|06/10/2019 00:00:00|          83|           M|  Outside/Open Areas|         201906|
|       201906|     10|       0|      38816|  824286|            I|06/10/2019 00:00:00|          14|           M|            In Water|         201906|
+-------------+-------+--------+-----------+--------+-------------+-------------------+------------+------------+--------------------+---------------+
only showing top 10 rows

In [37]:
sqlContext.sql('SELECT \
                   FATALITY_LOCATION, \
                   COUNT(FATALITY_LOCATION) \
                   FROM fatalities_table \
                   GROUP BY FATALITY_LOCATION \
                   ORDER BY COUNT(FATALITY_LOCATION) DESC').show(15)

+--------------------+------------------------+
|   FATALITY_LOCATION|count(FATALITY_LOCATION)|
+--------------------+------------------------+
|Vehicle/Towed Tra...|                     168|
|  Outside/Open Areas|                     133|
|            In Water|                     110|
|      Permanent Home|                      38|
| Mobile/Trailer Home|                      32|
|             Unknown|                      22|
|             Boating|                      17|
|          Under Tree|                      13|
| Permanent Structure|                       9|
|               Other|                       7|
|             Camping|                       3|
|Heavy Equipment/C...|                       2|
|          Ball Field|                       1|
+--------------------+------------------------+

In [38]:
sqlContext.sql('SELECT \
                   INT(FATALITY_AGE/10) AS FATALITY_RANGE, \
                   COUNT(INT(FATALITY_AGE/10)) AS NUMBER_FATALITIES\
                   FROM fatalities_table \
                   WHERE FATALITY_AGE IS NOT NULL \
                   GROUP BY INT(FATALITY_AGE/10) \
                   ORDER BY INT(FATALITY_AGE/10)').show(100)

+--------------+-----------------+
|FATALITY_RANGE|NUMBER_FATALITIES|
+--------------+-----------------+
|             0|               38|
|             1|               43|
|             2|               70|
|             3|               57|
|             4|               46|
|             5|              107|
|             6|               70|
|             7|               42|
|             8|               23|
|             9|                4|
+--------------+-----------------+

In [39]:
sqlContext.sql('SELECT \
                   INT(FATALITY_AGE/10) AS FATALITY_RANGE, \
                   FATALITY_SEX, \
                   COUNT(INT(FATALITY_AGE/10)) AS NUMBER_FATALITIES\
                   FROM fatalities_table \
                   WHERE FATALITY_AGE IS NOT NULL AND FATALITY_SEX IS NOT NULL\
                   GROUP BY INT(FATALITY_AGE/10), FATALITY_SEX\
                   ORDER BY INT(FATALITY_AGE/10), FATALITY_SEX').show(100)

+--------------+------------+-----------------+
|FATALITY_RANGE|FATALITY_SEX|NUMBER_FATALITIES|
+--------------+------------+-----------------+
|             0|           F|               14|
|             0|           M|               21|
|             1|           F|               11|
|             1|           M|               32|
|             2|           F|               19|
|             2|           M|               50|
|             3|           F|               12|
|             3|           M|               45|
|             4|           F|               12|
|             4|           M|               34|
|             5|           F|               30|
|             5|           M|               77|
|             6|           F|               14|
|             6|           M|               56|
|             7|           F|               15|
|             7|           M|               27|
|             8|           F|                9|
|             8|           M|               14|
|             9|           M|                4|
+--------------+------------+-----------------+

In [40]:
sc.stop()