# 4. PySpark Mini-project

## Dataset

Storm events in US during 2019 are studied in the following analysis using the NOAA's National Weather Service Dataset available [here](https://www.ncdc.noaa.gov/stormevents/ftp.jsp). The folder **data** contains three csv files with event details, fatalities and location of every event.

In [1]:
# import SparkContext
from pyspark import SparkContext

In [2]:
sc = SparkSession.builder.appName("pysparkDataframes").getOrCreate()

In [3]:
sqlContext = SQLContext(sc)

In [4]:
dfStorm2019 = sc.read.format('csv')\
                .option('header', 'true')\
                .option('delimiter', ',')\
                .option('inferSchema', 'true')\
                .load('../pyspark/data/StormEvents_details-ftp_v1.0_d2019_c20200317.csv.gz')

In [5]:
dfFatalities2019 = sc.read.format('csv')\
                    .option('header', 'true')\
                    .option('delimiter', ',')\
                    .option('inferSchema', 'true')\
                    .load('../pyspark/data/StormEvents_fatalities-ftp_v1.0_d2019_c20200317.csv.gz')

In [6]:
dfLocations2019 = sc.read.format('csv')\
                    .option('header', 'true')\
                    .option('delimiter', ',')\
                    .option('inferSchema', 'true')\
                    .load('../pyspark/data/StormEvents_locations-ftp_v1.0_d2019_c20200317.csv.gz')

Displaying the schema of every dataset:

In [7]:
dfStorm2019.printSchema()

root
 |-- BEGIN_YEARMONTH: integer (nullable = true)
 |-- BEGIN_DAY: integer (nullable = true)
 |-- BEGIN_TIME: integer (nullable = true)
 |-- END_YEARMONTH: integer (nullable = true)
 |-- END_DAY: integer (nullable = true)
 |-- END_TIME: integer (nullable = true)
 |-- EPISODE_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATE_FIPS: integer (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH_NAME: string (nullable = true)
 |-- EVENT_TYPE: string (nullable = true)
 |-- CZ_TYPE: string (nullable = true)
 |-- CZ_FIPS: integer (nullable = true)
 |-- CZ_NAME: string (nullable = true)
 |-- WFO: string (nullable = true)
 |-- BEGIN_DATE_TIME: string (nullable = true)
 |-- CZ_TIMEZONE: string (nullable = true)
 |-- END_DATE_TIME: string (nullable = true)
 |-- INJURIES_DIRECT: integer (nullable = true)
 |-- INJURIES_INDIRECT: integer (nullable = true)
 |-- DEATHS_DIRECT: integer (nullable = true)
 |-- DEATHS_INDIRECT: integer (nullable = true)
 |-- DAMAGE_PROPERTY: string (nullable = true)
 |-- DAMAGE_CROPS: string (nullable = true)
 |-- SOURCE: string (nullable = true)
 |-- MAGNITUDE: double (nullable = true)
 |-- MAGNITUDE_TYPE: string (nullable = true)
 |-- FLOOD_CAUSE: string (nullable = true)
 |-- CATEGORY: integer (nullable = true)
 |-- TOR_F_SCALE: string (nullable = true)
 |-- TOR_LENGTH: double (nullable = true)
 |-- TOR_WIDTH: double (nullable = true)
 |-- TOR_OTHER_WFO: string (nullable = true)
 |-- TOR_OTHER_CZ_STATE: string (nullable = true)
 |-- TOR_OTHER_CZ_FIPS: integer (nullable = true)
 |-- TOR_OTHER_CZ_NAME: string (nullable = true)
 |-- BEGIN_RANGE: integer (nullable = true)
 |-- BEGIN_AZIMUTH: string (nullable = true)
 |-- BEGIN_LOCATION: string (nullable = true)
 |-- END_RANGE: integer (nullable = true)
 |-- END_AZIMUTH: string (nullable = true)
 |-- END_LOCATION: string (nullable = true)
 |-- BEGIN_LAT: double (nullable = true)
 |-- BEGIN_LON: double (nullable = true)
 |-- END_LAT: double (nullable = true)
 |-- END_LON: double (nullable = true)
 |-- EPISODE_NARRATIVE: string (nullable = true)
 |-- EVENT_NARRATIVE: string (nullable = true)
 |-- DATA_SOURCE: string (nullable = true)

In [8]:
dfFatalities2019.printSchema()

root
 |-- FAT_YEARMONTH: integer (nullable = true)
 |-- FAT_DAY: integer (nullable = true)
 |-- FAT_TIME: integer (nullable = true)
 |-- FATALITY_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- FATALITY_TYPE: string (nullable = true)
 |-- FATALITY_DATE: string (nullable = true)
 |-- FATALITY_AGE: integer (nullable = true)
 |-- FATALITY_SEX: string (nullable = true)
 |-- FATALITY_LOCATION: string (nullable = true)
 |-- EVENT_YEARMONTH: integer (nullable = true)

In [9]:
dfLocations2019.printSchema()

root
 |-- YEARMONTH: integer (nullable = true)
 |-- EPISODE_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- LOCATION_INDEX: integer (nullable = true)
 |-- RANGE: double (nullable = true)
 |-- AZIMUTH: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- LAT2: integer (nullable = true)
 |-- LON2: integer (nullable = true)

Dataframes have a **registerTempTable attribute** that can be transform into spark sql to generate queries and save the results using **.write.saveAsTable(name_table)**. RDD's don't have this extension because they are not structured tables. 

Obs: **registerTempTable** is deprecated. Instead, use **createOrReplaceTempView**

In [10]:
dfStorm2019.createOrReplaceTempView('stormDetails_table')

### 1. Type of Events

In [11]:
sqlContext.sql('SELECT \
                    EVENT_TYPE, \
                    COUNT(EVENT_TYPE) \
                    FROM stormDetails_table \
                    GROUP BY EVENT_TYPE \
                    ORDER BY COUNT(EVENT_TYPE) DESC').show()

+--------------------+-----------------+
|          EVENT_TYPE|count(EVENT_TYPE)|
+--------------------+-----------------+
|   Thunderstorm Wind|            18617|
|                Hail|             9013|
|               Flood|             4943|
|         Flash Flood|             4068|
|      Winter Weather|             3800|
|           High Wind|             3743|
|        Winter Storm|             3312|
|          Heavy Snow|             2844|
|Marine Thundersto...|             2502|
|             Tornado|             1727|
|         Strong Wind|             1590|
|          Heavy Rain|             1416|
|                Heat|             1291|
|Extreme Cold/Wind...|             1065|
|             Drought|             1007|
|            Blizzard|              852|
|      Excessive Heat|              827|
|        Frost/Freeze|              654|
|           Dense Fog|              652|
|     Cold/Wind Chill|              470|
+--------------------+-----------------+
only showing top 20 rows

Since 1851 to 2018, hurricanes seasons have hit different states across the country. The top hurricane states on record are Florida, Texas, North Carolina, Luisiana, South Carolina, Alabama, Georgia, Missisipi, New York and Massachussetts. Atlantic Hurricane season runs from June to November, mostly between August and September. From summer to fall, weather conditions become ideal to generate storms later, with cooler air and warm ocean water temperatures. Pacific Hurricane season runs from May to November (the Pacific Coast of the United State is affected by storms originated in Mexico in their roads to come back to the sea, toward Hawaii).

### 2. Number of episodes and events by STATE

One episodes contains an unique or more events happening in different hours and days.

In [12]:
sqlContext.sql('SELECT \
                    STATE, \
                    COUNT(DISTINCT(EPISODE_ID)) AS NUMBER_EPISODES \
                    FROM stormDetails_table \
                    GROUP BY STATE ORDER BY COUNT(DISTINCT(EPISODE_ID))DESC').show(20)

+--------------+---------------+
|         STATE|NUMBER_EPISODES|
+--------------+---------------+
|         TEXAS|            536|
|  SOUTH DAKOTA|            430|
|    CALIFORNIA|            402|
|      COLORADO|            331|
|        KANSAS|            325|
|      ILLINOIS|            299|
|       WYOMING|            294|
|      VIRGINIA|            283|
|GULF OF MEXICO|            280|
|     MINNESOTA|            279|
|      NEBRASKA|            275|
|          IOWA|            263|
|      MISSOURI|            256|
|  PENNSYLVANIA|            256|
|      NEW YORK|            254|
|NORTH CAROLINA|            247|
|       FLORIDA|            243|
|       MONTANA|            232|
|     WISCONSIN|            232|
|          OHIO|            229|
+--------------+---------------+
only showing top 20 rows

The states with more episodes during 2019 were Texas, Soth Dakota, California, Colorado, Kansas

In [13]:
sqlContext.sql('SELECT \
                    STATE, \
                    COUNT(DISTINCT(EVENT_ID)) AS NUMBER_EVENTS \
                    FROM stormDetails_table \
                    GROUP BY STATE ORDER BY COUNT(DISTINCT(EVENT_ID))DESC').show(20)

+--------------+-------------+
|         STATE|NUMBER_EVENTS|
+--------------+-------------+
|         TEXAS|         4338|
|        KANSAS|         2672|
|    CALIFORNIA|         2643|
|  SOUTH DAKOTA|         2543|
|      NEW YORK|         2514|
|      VIRGINIA|         2398|
|  PENNSYLVANIA|         2395|
|          OHIO|         2279|
|          IOWA|         2276|
|      MISSOURI|         2159|
|     MINNESOTA|         2126|
|      NEBRASKA|         2088|
|      ILLINOIS|         2084|
|      OKLAHOMA|         1801|
|      COLORADO|         1776|
|     WISCONSIN|         1573|
|      KENTUCKY|         1522|
|NORTH CAROLINA|         1448|
|       INDIANA|         1447|
|       MONTANA|         1286|
+--------------+-------------+
only showing top 20 rows

In [14]:
sqlContext.sql('SELECT \
                    EVENT_TYPE, \
                    STATE, \
                    COUNT(EVENT_TYPE) AS NUMBER_EVENTS \
                    FROM stormDetails_table \
                    GROUP BY STATE, EVENT_TYPE ORDER BY COUNT(EVENT_TYPE) DESC').show(20)

+--------------------+--------------+-------------+
|          EVENT_TYPE|         STATE|NUMBER_EVENTS|
+--------------------+--------------+-------------+
|                Hail|         TEXAS|         1394|
|   Thunderstorm Wind|  PENNSYLVANIA|         1245|
|   Thunderstorm Wind|      VIRGINIA|         1199|
|   Thunderstorm Wind|         TEXAS|         1047|
|Marine Thundersto...|ATLANTIC NORTH|          997|
|   Thunderstorm Wind|      NEW YORK|          903|
|   Thunderstorm Wind|          OHIO|          891|
|   Thunderstorm Wind|        KANSAS|          848|
|                Hail|        KANSAS|          847|
|   Thunderstorm Wind|NORTH CAROLINA|          791|
|Marine Thundersto...|GULF OF MEXICO|          775|
|               Flood|  SOUTH DAKOTA|          752|
|   Thunderstorm Wind|       GEORGIA|          673|
|   Thunderstorm Wind|      MISSOURI|          648|
|                Hail|      NEBRASKA|          640|
|   Thunderstorm Wind|SOUTH CAROLINA|          619|
|   Thunderstorm Wind|       ALABAMA|          591|
|   Thunderstorm Wind|      ILLINOIS|          587|
|                Hail|      COLORADO|          580|
|   Thunderstorm Wind|     TENNESSEE|          575|
+--------------------+--------------+-------------+
only showing top 20 rows

Hails, thunderstorms and marine thonderstoms were the most common events in 2019.

### 3. Duration of events

First, we inspect the date information available in the stormDetails table

In [15]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    STATE, \
                    EVENT_TYPE, \
                    BEGIN_YEARMONTH, \
                    BEGIN_DAY, \
                    BEGIN_TIME,  \
                    END_YEARMONTH, \
                    END_DAY, \
                    END_TIME \
                    FROM stormDetails_table').show(5)

+----------+--------+---------+-----------------+---------------+---------+----------+-------------+-------+--------+
|EPISODE_ID|EVENT_ID|    STATE|       EVENT_TYPE|BEGIN_YEARMONTH|BEGIN_DAY|BEGIN_TIME|END_YEARMONTH|END_DAY|END_TIME|
+----------+--------+---------+-----------------+---------------+---------+----------+-------------+-------+--------+
|    137295|  824116|    TEXAS|      Flash Flood|         201905|        9|      1554|       201905|      9|    1830|
|    140217|  843354|MINNESOTA|Thunderstorm Wind|         201907|       15|      1640|       201907|     15|    1641|
|    142648|  861581|    TEXAS|Thunderstorm Wind|         201910|       20|      2223|       201910|     20|    2223|
|    142648|  861584|    TEXAS|Thunderstorm Wind|         201910|       20|      2312|       201910|     20|    2312|
|    142648|  861582|    TEXAS|Thunderstorm Wind|         201910|       20|      2236|       201910|     20|    2236|
+----------+--------+---------+-----------------+---------------+---------+----------+-------------+-------+--------+
only showing top 5 rows

A better datetime visualization results of the transformation of the begin and end dates as strings with format **yyyy-mm-dd hh-mm**

In [16]:
sqlContext.sql("SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    STATE, \
                    EVENT_TYPE, \
                    CONCAT(SUBSTRING(BEGIN_YEARMONTH, 1, 4), '-', \
                    SUBSTRING(BEGIN_YEARMONTH, 5, 2), '-', \
                    BEGIN_DAY, ' ', SUBSTRING(BEGIN_TIME, 1, 2), ':', SUBSTRING(BEGIN_TIME, 3, 2)) AS BEGIN_DATE, \
                    CONCAT(SUBSTRING(END_YEARMONTH, 1, 4), '-', \
                    SUBSTRING(END_YEARMONTH, 5, 2), '-', \
                    END_DAY, ' ', SUBSTRING(END_TIME, 1, 2), ':', SUBSTRING(END_TIME, 3, 2)) AS END_DATE \
                    FROM stormDetails_table").show()

+----------+--------+--------------+--------------------+----------------+----------------+
|EPISODE_ID|EVENT_ID|         STATE|          EVENT_TYPE|      BEGIN_DATE|        END_DATE|
+----------+--------+--------------+--------------------+----------------+----------------+
|    137295|  824116|         TEXAS|         Flash Flood| 2019-05-9 15:54| 2019-05-9 18:30|
|    140217|  843354|     MINNESOTA|   Thunderstorm Wind|2019-07-15 16:40|2019-07-15 16:41|
|    142648|  861581|         TEXAS|   Thunderstorm Wind|2019-10-20 22:23|2019-10-20 22:23|
|    142648|  861584|         TEXAS|   Thunderstorm Wind|2019-10-20 23:12|2019-10-20 23:12|
|    142648|  861582|         TEXAS|   Thunderstorm Wind|2019-10-20 22:36|2019-10-20 22:36|
|    142648|  856504|         TEXAS|             Tornado|2019-10-20 20:48|2019-10-20 20:54|
|    141212|  848333|       VERMONT|                Hail| 2019-09-4 12:29| 2019-09-4 12:29|
|    141215|  848338|      NEW YORK|   Thunderstorm Wind|2019-09-26 15:54|2019-09-26 15:54|
|    140688|  845760|ATLANTIC SOUTH|Marine Thundersto...|2019-09-13 18:38|2019-09-13 18:38|
|    140688|  845762|ATLANTIC SOUTH|Marine Thundersto...|2019-09-13 19:15|2019-09-13 19:15|
|    140688|  845764|ATLANTIC SOUTH|Marine Thundersto...|2019-09-13 19:38|2019-09-13 19:38|
|    141232|  848441|       FLORIDA|         Rip Current|2019-09-30 17:40|2019-09-30 17:40|
|    133946|  801726| WEST VIRGINIA|      Winter Weather|2019-01-29 12:00|2019-01-29 19:00|
|    134106|  814097|      ARKANSAS|   Thunderstorm Wind|  2019-03-9 81:0|  2019-03-9 81:0|
|    134106|  814096|      ARKANSAS|   Thunderstorm Wind|  2019-03-9 75:0|  2019-03-9 75:0|
|    141237|  848459|ATLANTIC SOUTH|Marine Thundersto...|2019-09-30 18:14|2019-09-30 18:14|
|    141237|  848462|ATLANTIC SOUTH|Marine Thundersto...|2019-09-30 20:15|2019-09-30 20:15|
|    140062|  842668|GULF OF MEXICO|Marine Thundersto...| 2019-09-2 12:42| 2019-09-2 12:42|
|    140067|  842699|GULF OF MEXICO|          Waterspout| 2019-09-6 14:53| 2019-09-6 14:56|
|    141077|  847645|GULF OF MEXICO|Marine Thundersto...|2019-09-18 18:05|2019-09-18 18:05|
+----------+--------+--------------+--------------------+----------------+----------------+
only showing top 20 rows

In the table below, `DELTA_YEAR` and `DELTA_MONTH` are the differences between the begin/end years and months respectively. Both are extracted from `BEGIN_YEARMONTH` and `END_YEARMONTH` using the SQL function SUBSTRING. The same attribute is used to retrieve hours and minutes from `BEGIN_TIME` and `END_TIME`. `DELTA_DAYS` is compute directly from `BEGIN_DAY` and `END_DAY`.

100 rows are displayed as follows:

In [17]:
sqlContext.sql('SELECT \
                   EPISODE_ID, \
                   EVENT_ID, STATE, \
                   EVENT_TYPE, \
                   CAST(SUBSTRING(END_YEARMONTH, 1, 4) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 1, 4) AS INT) AS DELTA_YEAR, \
                   CAST(SUBSTRING(END_YEARMONTH, 5, 2) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 5, 2) AS INT) AS DELTA_MONTH, \
                   END_DAY - BEGIN_DAY AS DELTA_DAY, \
                   ((CAST(SUBSTRING(END_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(END_TIME, 3, 2) AS INT)) - (CAST(SUBSTRING(BEGIN_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(BEGIN_TIME, 3, 2) AS INT)))/60.0 AS DELTA_HOURS \
                   FROM stormDetails_table').show()

+----------+--------+--------------+--------------------+----------+-----------+---------+-----------+
|EPISODE_ID|EVENT_ID|         STATE|          EVENT_TYPE|DELTA_YEAR|DELTA_MONTH|DELTA_DAY|DELTA_HOURS|
+----------+--------+--------------+--------------------+----------+-----------+---------+-----------+
|    137295|  824116|         TEXAS|         Flash Flood|         0|          0|        0|   2.600000|
|    140217|  843354|     MINNESOTA|   Thunderstorm Wind|         0|          0|        0|   0.016667|
|    142648|  861581|         TEXAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    142648|  861584|         TEXAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    142648|  861582|         TEXAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    142648|  856504|         TEXAS|             Tornado|         0|          0|        0|   0.100000|
|    141212|  848333|       VERMONT|                Hail|         0|          0|        0|   0.000000|
|    141215|  848338|      NEW YORK|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    140688|  845760|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140688|  845762|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140688|  845764|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    141232|  848441|       FLORIDA|         Rip Current|         0|          0|        0|   0.000000|
|    133946|  801726| WEST VIRGINIA|      Winter Weather|         0|          0|        0|   7.000000|
|    134106|  814097|      ARKANSAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    134106|  814096|      ARKANSAS|   Thunderstorm Wind|         0|          0|        0|   0.000000|
|    141237|  848459|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    141237|  848462|ATLANTIC SOUTH|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140062|  842668|GULF OF MEXICO|Marine Thundersto...|         0|          0|        0|   0.000000|
|    140067|  842699|GULF OF MEXICO|          Waterspout|         0|          0|        0|   0.050000|
|    141077|  847645|GULF OF MEXICO|Marine Thundersto...|         0|          0|        0|   0.000000|
+----------+--------+--------------+--------------------+----------+-----------+---------+-----------+
only showing top 20 rows

Number of events with a `DELTA_MONTH` upper than 0:

In [18]:
sqlContext.sql('SELECT \
                   EPISODE_ID, \
                   EVENT_ID, \
                   STATE, \
                   EVENT_TYPE, \
                   DELTA_DAY, \
                   DELTA_HOURS \
                   FROM (\
                        SELECT \
                            EPISODE_ID, \
                            EVENT_ID, \
                            STATE, \
                            EVENT_TYPE, \
                            CAST(SUBSTRING(END_YEARMONTH, 1, 4) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 1, 4) AS INT) AS DELTA_YEAR, \
                            CAST(SUBSTRING(END_YEARMONTH, 5, 2) AS INT) - CAST(SUBSTRING(BEGIN_YEARMONTH, 5, 2) AS INT) AS DELTA_MONTH, \
                            END_DAY - BEGIN_DAY AS DELTA_DAY, \
                            ((CAST(SUBSTRING(END_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(END_TIME, 3, 2) AS INT)) - (CAST(SUBSTRING(BEGIN_TIME, 1, 2) AS INT)*60 + CAST(SUBSTRING(BEGIN_TIME, 3, 2) AS INT)))/60.0 AS DELTA_HOURS \
                            FROM stormDetails_table \
                        ) \
                   WHERE DELTA_MONTH > 0').show()

+----------+--------+-----+----------+---------+-----------+
|EPISODE_ID|EVENT_ID|STATE|EVENT_TYPE|DELTA_DAY|DELTA_HOURS|
+----------+--------+-----+----------+---------+-----------+
+----------+--------+-----+----------+---------+-----------+

All the events take place -they start and finish- in the same month. It means that the duration of every event can be compute using only `DELTA_DAY` and `DELTA_HOURS`, as follows:

In [19]:
sqlContext.sql('SELECT \
                   B.EPISODE_ID, \
                   B.EVENT_ID, \
                   B.STATE, \
                   B.EVENT_TYPE, \
                   B.BEGIN_YEARMONTH, \
                   B.END_YEARMONTH, \
                   B.BEGIN_DAY, \
                   B.END_DAY, \
                   B.EFFECTIVE_DELTA_DAYS \
                   FROM ( \
                       SELECT \
                           A.EPISODE_ID, \
                           A.EVENT_ID, \
                           A.STATE, \
                           A.EVENT_TYPE, \
                           A.BEGIN_YEARMONTH, \
                           A.END_YEARMONTH, \
                           A.BEGIN_DAY, \
                           A.END_DAY, \
                           CASE WHEN A.DELTA_HOURS IS NOT NULL THEN A.DELTA_DAY + A.DELTA_HOURS/24.0 ELSE A.DELTA_DAY END AS EFFECTIVE_DELTA_DAYS \
                           FROM (\
                                SELECT \
                                   EPISODE_ID, \
                                   EVENT_ID, \
                                   STATE, \
                                   EVENT_TYPE, \
                                   BEGIN_YEARMONTH, \
                                   END_YEARMONTH, \
                                   BEGIN_DAY, \
                                   END_DAY, \
                                   END_DAY - BEGIN_DAY AS DELTA_DAY, \
                                   ABS((CAST(SUBSTRING(END_TIME, 1, 2) AS INT) + CAST(SUBSTRING(END_TIME, 3, 2) AS INT)) - (CAST(SUBSTRING(BEGIN_TIME, 1, 2) AS INT) + CAST(SUBSTRING(BEGIN_TIME, 3, 2) AS INT)))/60.0 AS DELTA_HOURS \
                                   FROM stormDetails_table \
                                   WHERE CAST(END_TIME AS INT) > 0 AND CAST(BEGIN_TIME AS INT) > 0 \
                                ) AS A \
                    ) AS B \
                    ORDER BY B.EFFECTIVE_DELTA_DAYS DESC').show(200)

+----------+--------+--------------+----------+---------------+-------------+---------+-------+--------------------+
|EPISODE_ID|EVENT_ID|         STATE|EVENT_TYPE|BEGIN_YEARMONTH|END_YEARMONTH|BEGIN_DAY|END_DAY|EFFECTIVE_DELTA_DAYS|
+----------+--------+--------------+----------+---------------+-------------+---------+-------+--------------------+
|    140042|  842536|  SOUTH DAKOTA|     Flood|         201907|       201907|        1|     31|       30.0361111250|
|    140042|  842537|  SOUTH DAKOTA|     Flood|         201907|       201907|        1|     31|       30.0361111250|
|    141294|  848629|         IDAHO|  Wildfire|         201908|       201908|        1|     31|       30.0000000000|
|    137101|  822737|      ILLINOIS|     Flood|         201904|       201904|        1|     30|       29.0500000000|
|    138578|  833168|          IOWA|     Flood|         201906|       201906|        1|     30|       29.0500000000|
|    138858|  835315|  SOUTH DAKOTA|     Flood|         201906|       201906|        1|     30|       29.0423611250|
|    140042|  842538|  SOUTH DAKOTA|     Flood|         201907|       201907|        2|     31|       29.0416666667|
|    143103|  860406|     WISCONSIN|     Flood|         201910|       201910|        2|     31|       29.0305555417|
|    141673|  850670|  SOUTH DAKOTA|     Flood|         201908|       201908|        2|     31|       29.0013888750|
|    142654|  856244|      MISSOURI|     Flood|         201910|       201910|        2|     30|       28.0472222083|
|    141501|  849615|  SOUTH DAKOTA|     Flood|         201908|       201908|        3|     31|       28.0451388750|
|    134184|  803619|      ARKANSAS|     Flood|         201901|       201901|        3|     31|       28.0131944583|
|    141851|  851643|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    141851|  851641|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    141851|  851644|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    141851|  851642|      KENTUCKY|   Drought|         201910|       201910|        1|     29|       28.0027777917|
|    138050|  829623|      MISSOURI|     Flood|         201906|       201906|        3|     30|       27.0361111250|
|    141683|  850712|  SOUTH DAKOTA|     Flood|         201908|       201908|        3|     30|       27.0000000000|
|    142866|  857284|    CALIFORNIA|  Wildfire|         201909|       201909|        4|     30|       26.0243055417|
|    140255|  843538|        HAWAII|   Drought|         201908|       201908|        6|     31|       25.0430555417|
|    143192|  858937|        HAWAII|   Drought|         201911|       201911|        5|     30|       25.0430555417|
|    141937|  852015|      COLORADO|  Wildfire|         201909|       201909|        5|     30|       25.0361111250|
|    138617|  833471|          IOWA|     Flood|         201904|       201904|        6|     30|       24.0493055417|
|    138516|  833043|  SOUTH DAKOTA|     Flood|         201904|       201904|        6|     30|       24.0083333333|
|    138504|  833041|     MINNESOTA|     Flood|         201904|       201904|        6|     30|       24.0083333333|
|    138504|  833042|     MINNESOTA|     Flood|         201904|       201904|        6|     30|       24.0083333333|
|    140042|  842539|  SOUTH DAKOTA|     Flood|         201907|       201907|        2|     26|       24.0076388750|
|    140044|  842540|          IOWA|     Flood|         201907|       201907|        2|     26|       24.0076388750|
|    138006|  831130|      ARKANSAS|     Flood|         201905|       201905|        3|     27|       24.0076388750|
|    138006|  831678|      ARKANSAS|     Flood|         201905|       201905|        2|     26|       24.0000000000|
|    138617|  833473|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0500000000|
|    138617|  833474|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0500000000|
|    138617|  833475|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0500000000|
|    142482|  855233|        HAWAII|   Drought|         201910|       201910|        8|     31|       23.0430555417|
|    142073|  852999|    WASHINGTON|  Wildfire|         201908|       201908|        2|     25|       23.0402777917|
|    140263|  843547|          UTAH|  Wildfire|         201908|       201908|        6|     29|       23.0312500000|
|    138617|  833468|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0013888750|
|    138617|  833470|          IOWA|     Flood|         201904|       201904|        7|     30|       23.0013888750|
|    139960|  842079|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0430555417|
|    139960|  842080|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0430555417|
|    139960|  842077|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0430555417|
|    138006|  831679|      ARKANSAS|     Flood|         201905|       201905|        4|     26|       22.0284722083|
|    135066|  809476|      ARKANSAS|     Flood|         201902|       201902|        6|     28|       22.0166666667|
|    136684|  820066|      ARKANSAS|     Flood|         201904|       201904|        8|     30|       22.0076388750|
|    135978|  822682|          IOWA|     Flood|         201904|       201904|        1|     23|       22.0048611250|
|    140045|  842560|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     31|       22.0013888750|
|    140343|  843882|        OREGON|  Wildfire|         201909|       201909|        5|     27|       22.0000000000|
|    141833|  851354|     LOUISIANA|   Drought|         201910|       201910|        8|     29|       21.0138888750|
|    138866|  835272|      MICHIGAN|     Flood|         201902|       201902|        6|     27|       21.0138888750|
|    141833|  851355|     LOUISIANA|   Drought|         201910|       201910|        8|     29|       21.0138888750|
|    143341|  860445| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143341|  859917| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860475|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143445|  860574|NORTH CAROLINA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860494|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143341|  860452| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143341|  860453| WEST VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860472|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860473|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860477|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860486|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860489|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860505|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143445|  860575|NORTH CAROLINA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860497|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860496|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860577|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    143429|  860465|      VIRGINIA|   Drought|         201910|       201910|        1|     22|       21.0069444583|
|    140397|  844013|         IDAHO|  Wildfire|         201907|       201907|       10|     31|       21.0055555417|
|    134123|  803157|      ILLINOIS|     Flood|         201902|       201902|        7|     28|       21.0048611250|
|    141851|  851812|      KENTUCKY|   Drought|         201910|       201910|        1|     22|       21.0027777917|
|    141851|  851649|      KENTUCKY|   Drought|         201910|       201910|        1|     22|       21.0027777917|
|    141851|  851639|      KENTUCKY|   Drought|         201910|       201910|        1|     22|       21.0027777917|
|    143753|  863131|    CALIFORNIA|  Wildfire|         201910|       201910|       10|     31|       21.0000000000|
|    143067|  858350|    CALIFORNIA|  Wildfire|         201909|       201909|        4|     25|       21.0000000000|
|    140045|  842750|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     29|       20.0548611250|
|    140074|  842752|          IOWA|     Flood|         201907|       201907|        9|     29|       20.0548611250|
|    140045|  842749|  SOUTH DAKOTA|     Flood|         201907|       201907|        9|     29|       20.0548611250|
|    138050|  829956|      MISSOURI|     Flood|         201906|       201906|        2|     22|       20.0208333333|
|    134123|  803177|      ILLINOIS|     Flood|         201902|       201902|        8|     28|       20.0083333333|
|    143403|  860407|     WISCONSIN|     Flood|         201910|       201910|        7|     27|       20.0083333333|
|    134251|  803923|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0083333333|
|    134251|  803925|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0083333333|
|    135066|  809474|      ARKANSAS|     Flood|         201902|       201902|        8|     28|       20.0055555417|
|    134251|  803939|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0013888750|
|    134251|  803944|       INDIANA|     Flood|         201902|       201902|        8|     28|       20.0013888750|
|    134123|  803178|      ILLINOIS|     Flood|         201902|       201902|        8|     28|       20.0013888750|
|    134119|  803053|      KENTUCKY|     Flood|         201902|       201902|        9|     28|       19.0500000000|
|    134123|  803151|      ILLINOIS|     Flood|         201902|       201902|        9|     28|       19.0493055417|
|    142549|  856541|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0451388750|
|    134119|  803096|      KENTUCKY|     Flood|         201902|       201902|        9|     28|       19.0437500000|
|    142613|  856128|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0437500000|
|    137388|  824897|        HAWAII|   Drought|         201906|       201906|       11|     30|       19.0430555417|
|    137301|  824126|     LOUISIANA|     Flood|         201905|       201905|       12|     31|       19.0375000000|
|    134251|  803914|       INDIANA|     Flood|         201902|       201902|        9|     28|       19.0291666667|
|    134251|  803911|       INDIANA|     Flood|         201902|       201902|        9|     28|       19.0291666667|
|    142686|  856547|          IOWA|     Flood|         201909|       201909|       11|     30|       19.0152777917|
|    142549|  856545|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0152777917|
|    142549|  856546|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0152777917|
|    142549|  855790|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     30|       19.0138888750|
|    140533|  844767|        OREGON|  Wildfire|         201909|       201909|        5|     24|       19.0104166667|
|    138455|  832494|  SOUTH DAKOTA|     Flood|         201904|       201904|       11|     30|       19.0083333333|
|    134201|  803687|      ARKANSAS|     Flood|         201901|       201901|       12|     31|       19.0055555417|
|    135978|  822409|          IOWA|     Flood|         201904|       201904|        1|     20|       19.0020833333|
|    137101|  822736|      ILLINOIS|     Flood|         201904|       201904|        1|     20|       19.0020833333|
|    134119|  803094|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0486111250|
|    141904|  851892|         TEXAS|   Drought|         201908|       201908|       13|     31|       18.0486111250|
|    141904|  851893|         TEXAS|   Drought|         201908|       201908|       13|     31|       18.0486111250|
|    135955|  825834|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0479166667|
|    135253|  813950|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0479166667|
|    134135|  803185|      MISSOURI|     Flood|         201902|       201902|       10|     28|       18.0479166667|
|    135955|  825813|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0479166667|
|    135955|  825453|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    135955|  825455|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    134119|  803112|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0465277917|
|    135955|  826221|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    135955|  826220|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    134119|  803105|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0465277917|
|    137538|  826222|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    135955|  825448|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0465277917|
|    134123|  803144|      ILLINOIS|     Flood|         201902|       201902|       10|     28|       18.0458333333|
|    134119|  803048|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0458333333|
|    134724|  807221|      ILLINOIS|     Flood|         201903|       201903|       13|     31|       18.0451388750|
|    137538|  826255|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0444444583|
|    135955|  826254|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0444444583|
|    137563|  840989|     WISCONSIN|     Flood|         201903|       201903|       13|     31|       18.0437500000|
|    137538|  827161|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0423611250|
|    135253|  813954|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0409722083|
|    135253|  813953|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0340277917|
|    135303|  814228|     WISCONSIN|     Flood|         201903|       201903|       13|     31|       18.0312500000|
|    135253|  813951|      NEBRASKA|     Flood|         201903|       201903|       13|     31|       18.0263888750|
|    137538|  826410|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0256944583|
|    135955|  826409|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0256944583|
|    135955|  826261|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0243055417|
|    137538|  826260|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0243055417|
|    135955|  825478|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0138888750|
|    144932|  870319|        OREGON|Heavy Snow|         201912|       201912|        1|     19|       18.0104166667|
|    134119|  803062|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0083333333|
|    134725|  807222|      MISSOURI|     Flood|         201903|       201903|       13|     31|       18.0083333333|
|    137204|  823654|         TEXAS|     Flood|         201905|       201905|        6|     24|       18.0076388750|
|    138457|  832517|  SOUTH DAKOTA|     Flood|         201904|       201904|        6|     24|       18.0062500000|
|    138457|  832516|  SOUTH DAKOTA|     Flood|         201904|       201904|        6|     24|       18.0062500000|
|    134119|  803063|      KENTUCKY|     Flood|         201902|       201902|       10|     28|       18.0055555417|
|    135955|  826525|  SOUTH DAKOTA|     Flood|         201903|       201903|       13|     31|       18.0041666667|
|    137538|  827160|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0041666667|
|    137538|  827159|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0041666667|
|    134991|  809044|     MINNESOTA|     Flood|         201904|       201904|        4|     22|       18.0027777917|
|    135001|  809053|  NORTH DAKOTA|     Flood|         201904|       201904|        4|     22|       18.0027777917|
|    134123|  803148|      ILLINOIS|     Flood|         201902|       201902|       10|     28|       18.0013888750|
|    135252|  813990|          IOWA|     Flood|         201903|       201903|       13|     31|       18.0013888750|
|    134123|  803145|      ILLINOIS|     Flood|         201902|       201902|       10|     28|       18.0013888750|
|    144783|  869419|  SOUTH DAKOTA|     Flood|         201912|       201912|       11|     29|       18.0006944583|
|    134123|  803147|      ILLINOIS|     Flood|         201902|       201902|       11|     28|       17.0493055417|
|    134135|  803183|      MISSOURI|     Flood|         201902|       201902|       11|     28|       17.0472222083|
|    134119|  803116|      KENTUCKY|     Flood|         201902|       201902|       11|     28|       17.0472222083|
|    134119|  803113|      KENTUCKY|     Flood|         201902|       201902|       11|     28|       17.0451388750|
|    134119|  803052|      KENTUCKY|     Flood|         201902|       201902|       11|     28|       17.0444444583|
|    137538|  826241|          IOWA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    137538|  826416|          IOWA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    135955|  826246|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    135955|  826434|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    137538|  826237|          IOWA|     Flood|         201903|       201903|       14|     31|       17.0430555417|
|    142549|  856509|  SOUTH DAKOTA|     Flood|         201909|       201909|       11|     28|       17.0395833333|
|    135955|  825441|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|
|    135955|  825442|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|
|    135955|  825439|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|
|    135955|  825443|  SOUTH DAKOTA|     Flood|         201903|       201903|       14|     31|       17.0361111250|

### 5. Narrative

In [21]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    EPISODE_NARRATIVE, \
                    EVENT_NARRATIVE \
                    FROM stormDetails_table').show()

+----------+--------+--------------------+--------------------+
|EPISODE_ID|EVENT_ID|   EPISODE_NARRATIVE|     EVENT_NARRATIVE|
+----------+--------+--------------------+--------------------+
|    137295|  824116|Thunderstorms dev...|Thunderstorms pro...|
|    140217|  843354|An area of low pr...|A 14-inch tree fe...|
|    142648|  861581|Thunderstorms eru...|A trained spotter...|
|    142648|  861584|Thunderstorms eru...|The local police ...|
|    142648|  861582|Thunderstorms eru...|A wind gust of 75...|
|    142648|  856504|Thunderstorms eru...|Tornadic wind dam...|
|    141212|  848333|A strong mid-leve...|Quarter size hail...|
|    141215|  848338|A strong mid-leve...|A few trees and p...|
|    140688|  845760|Fast moving showe...|Weatherflow site ...|
|    140688|  845762|Fast moving showe...|US Air Force wind...|
|    140688|  845764|Fast moving showe...|Weatherflow site ...|
|    141232|  848441|Police responded ...|Following a 9-1-1...|
|    133946|  801726|A strong surface ...|Snowfall amounts ...|
|    134106|  814097|A strong storm sy...|A tractor shed wa...|
|    134106|  814096|A strong storm sy...|Tree limbs were b...|
|    141237|  848459|Fast-moving showe...|A fast-moving sho...|
|    141237|  848462|Fast-moving showe...|A fast-moving sho...|
|    140062|  842668|Scattered thunder...|The buoy at Middl...|
|    140067|  842699|Isolated showers ...|Multiple public a...|
|    141077|  847645|Scattered thunder...|A mesonet station...|
+----------+--------+--------------------+--------------------+
only showing top 20 rows

### 4. Devastation: injuries, deaths and damages

In [24]:
sqlContext.sql('SELECT \
                    EPISODE_ID, \
                    EVENT_ID, \
                    INJURIES_DIRECT, \
                    INJURIES_INDIRECT \
                    FROM stormDetails_table \
                    WHERE INJURIES_DIRECT >0 OR INJURIES_INDIRECT > 0').show()

+----------+--------+---------------+-----------------+
|EPISODE_ID|EVENT_ID|INJURIES_DIRECT|INJURIES_INDIRECT|
+----------+--------+---------------+-----------------+
|    138507|  832754|              1|                0|
|    136101|  816762|              1|                0|
|    134997|  809041|              1|                0|
|    135479|  812572|              1|                0|
|    135393|  811941|              0|                2|
|    136708|  820154|              0|                3|
|    134345|  805124|              0|               35|
|    142648|  862804|              3|                0|
|    141081|  847664|              2|                0|
|    135543|  813103|              0|                2|
|    134769|  807760|              1|                0|
|    135677|  816161|              2|                0|
|    137239|  823752|              1|                0|
|    134041|  802450|              0|                6|
|    133097|  796226|              1|                0|
|    134896|  808544|              1|                0|
|    135738|  815575|              1|                0|
|    140713|  845916|              1|                0|
|    132325|  792690|              0|               66|
|    132411|  792218|              0|                3|
+----------+--------+---------------+-----------------+
only showing top 20 rows

In [20]:
# INJURIES_DIRECT: integer (nullable = true)
#  |-- INJURIES_INDIRECT: integer (nullable = true)
#  |-- DEATHS_DIRECT: integer (nullable = true)
#  |-- DEATHS_INDIRECT: integer (nullable = true)
#  |-- DAMAGE_PROPERTY: string (nullable = true)
#  |-- DAMAGE_CROPS: string (nullable = true)
#  |-- SOURCE: string (nullable = true)
#  |-- MAGNITUDE: double (nullable = true)
#  |-- MAGNITUDE_TYPE: string (nullable = true)
#  |-- FLOOD_CAUSE: string (nullable = true)
#  |-- CATEGORY: integer (nullable = true)

In [21]:
df_stormPandas = dfStorm2019.toPandas()

In [22]:
sc.stop()