# PySpark on Mac

To install PySpark, I used this [tutorial](https://medium.com/@GalarnykMichael/install-spark-on-mac-pyspark-453f395f240b) that offers a complete guideline about how to configure and update PySpark driver environment variables adding lines to your ~/.bash_profile file.

In [1]:
# import SparkContext
from pyspark import SparkContext

## Resilient Distributed Datasets (RDDs)

RDDs are the backbone of Apache Spark. They perform calculations faster because the dataset is parallelized, it means, distributed or split into chuncks based on keys and executor nodes.  

The transformations to the dataset only occur when the action is taken, optimizing the execution.

Let's try an example of RDDs:

In [2]:
sc = SparkContext.getOrCreate()

1 million of 2D dots are randomly generated. A basic multiplication and substraction is applied to every coordinate and then we calculate the mean and standard deviation of every population of coordinates.

In [3]:
import numpy as np

TOTAL = 1000000
dots = sc.parallelize([2.0 * np.random.random(2) - 1.0 for i in range(TOTAL)]).cache()

In [4]:
#access to the first 10 elements on dots:
dots.take(10)

[array([0.55811266, 0.51695219]),
 array([0.60579333, 0.97973035]),
 array([-0.04970269, -0.04261188]),
 array([0.66438197, 0.8183018 ]),
 array([0.55038452, 0.12525442]),
 array([ 0.19769196, -0.13486087]),
 array([ 0.12383726, -0.88487532]),
 array([-0.78083423,  0.6238091 ]),
 array([-0.14873242,  0.35647251]),
 array([0.84752257, 0.52233492])]

In [5]:
#count the elements on dots:
dots.count()

1000000

In [6]:
#inspect firt line
dots.first()

array([0.55811266, 0.51695219])

In [7]:
stats = dots.stats()
print('Mean:', stats.mean())
print('stdev:', stats.stdev())

Mean: [-0.00027926 -0.00098815]
stdev: [0.57728909 0.57736694]

### RDD Data Transformations


What kind of transformations we can do? Mapping, filtering, joining, and transcoding are the operations that transform the values in the dataset.

In [8]:
sc.parallelize(['a', 'b', 'c', 1, 1.1]).count()

5

In [9]:
rdd = sc.parallelize([('flat white', 1), ('latte', 4), ('pour over', 1), ('flat white', 3)]) 
sorted(rdd.countByKey().items())

[('flat white', 2), ('latte', 1), ('pour over', 1)]

In [10]:
sorted(sc.parallelize(['a', 'b', 'c', 'd', 'e', 'a', 'b']).distinct().collect())

['a', 'b', 'c', 'd', 'e']

In [11]:
rdd = sc.parallelize(['flat white', 'capuccino', 'latte', 'tea', 'matcha'])
rdd.map(lambda x: 'cup of '+''.join(x)).collect()

['cup of flat white',
 'cup of capuccino',
 'cup of latte',
 'cup of tea',
 'cup of matcha']

In [12]:
rdd = sc.parallelize([1, 2, 3, 4, 5])
rdd.filter(lambda x: x % 2 == 0).collect()

[2, 4]

In [13]:
rdd = sc.parallelize(['flat white', 'capuccino', 'latte', 'tea', 'matcha'])
rdd.first()

'flat white'

From [Using PySpark to perform Transformations and Actions on RDD](https://www.analyticsvidhya.com/blog/2016/10/using-pyspark-to-perform-transformations-and-actions-on-rdd/?utm_source=blog&utm_medium=DataFramePySparkarticle)

In [14]:
sp = SparkContext.getOrCreate()

In [15]:
rdd = sp.textFile("../pyspark/data/blogtexts")

In [16]:
rdd.take(1)

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.']

### Map and flatMap

#### Q1: Convert all words in a rdd to lowercase and split the lines of a document using space

In [17]:
def func(text):
    return text.lower().split()

In [18]:
rdd1 = rdd.map(func)

In [19]:
rdd1.take(2)

[['think',
  'of',
  'it',
  'for',
  'a',
  'moment',
  '–',
  '1',
  'qunitillion',
  '=',
  '1',
  'million',
  'billion!',
  'can',
  'you',
  'imagine',
  'how',
  'many',
  'drives',
  '/',
  'cds',
  '/',
  'blue-ray',
  'dvds',
  'would',
  'be',
  'required',
  'to',
  'store',
  'them?',
  'it',
  'is',
  'difficult',
  'to',
  'imagine',
  'this',
  'scale',
  'of',
  'data',
  'generation',
  'even',
  'as',
  'a',
  'data',
  'science',
  'professional.',
  'while',
  'this',
  'pace',
  'of',
  'data',
  'generation',
  'is',
  'very',
  'exciting,',
  'it',
  'has',
  'created',
  'entirely',
  'new',
  'set',
  'of',
  'challenges',
  'and',
  'has',
  'forced',
  'us',
  'to',
  'find',
  'new',
  'ways',
  'to',
  'handle',
  'big',
  'huge',
  'data',
  'effectively.'],
 []]

In [20]:
rdd2 = rdd.flatMap(func)

In [21]:
rdd2.take(10)

['think', 'of', 'it', 'for', 'a', 'moment', '–', '1', 'qunitillion', '=']

### Filter
#### Q2: Remove stopwords and special characters

In [22]:
from spacy.lang.en import English
from spacy.lang.en.stop_words import STOP_WORDS
import re

In [23]:
STOP_WORDS.add('')

In [24]:
rdd3 = rdd2.map(lambda x: re.sub('[^A-Za-z0-9]+', '', x))

In [25]:
rdd3.take(10)

['think', 'of', 'it', 'for', 'a', 'moment', '', '1', 'qunitillion', '']

In [26]:
rdd4 = rdd3.filter(lambda x: x not in STOP_WORDS)

In [27]:
rdd4.take(10)

['think',
 'moment',
 '1',
 'qunitillion',
 '1',
 'million',
 'billion',
 'imagine',
 'drives',
 'cds']

### groupBy

#### Q3: Group the words in rdd4 based on which letters they start with.

In [28]:
rdd5 = rdd4.groupBy(lambda x: x[0])

In [29]:
[(k, len(list(value))) for k, value in rdd5.take(20)]

[('t', 227),
 ('m', 127),
 ('1', 23),
 ('q', 7),
 ('b', 63),
 ('i', 109),
 ('d', 233),
 ('c', 275),
 ('r', 187),
 ('s', 371),
 ('g', 20),
 ('p', 199),
 ('e', 88),
 ('n', 94),
 ('f', 118),
 ('w', 49),
 ('h', 63),
 ('u', 34),
 ('o', 67),
 ('a', 171)]

In [30]:
[(k, list(value)) for k, value in rdd5.take(1)]

[('t',
  ['think',
   'typically',
   'turns',
   'terms',
   'time',
   'traditional',
   'topic',
   'table',
   'terms',
   'traditional',
   'tough',
   'task',
   'temperature',
   'time',
   'typically',
   'task',
   'task',
   'time',
   'time',
   'task',
   'task',
   'terms',
   'time',
   'task',
   'task',
   'time',
   'tasks',
   'times',
   'times',
   'traditional',
   'tasks',
   'terms',
   'types',
   'terms',
   'tasks',
   'traditional',
   'talk',
   'times',
   'tasks',
   'turn',
   'terms',
   'time',
   'time',
   'tasks',
   'technologies',
   'time',
   'task',
   'time',
   'transactions',
   'time',
   'time',
   'think',
   'transformations',
   'transformations',
   'topic',
   'talking',
   'terminal',
   'terms',
   'type',
   'transfers',
   'tar',
   'tar',
   'tool',
   'time',
   'typing',
   'typing',
   'typing',
   'typing',
   'thread',
   'time',
   'time',
   'transformations',
   'talk',
   'tolerant',
   'transformations',
   'things',
   'types',
   'transformation',
   'transformation',
   'transformation',
   'transformations',
   'task',
   'task',
   'types',
   'type',
   'transformation',
   'tells',
   'tuple',
   'transformation',
   'transformation',
   'transformation',
   'transformation',
   'transformation',
   'transformation',
   'transformation',
   'transformation',
   'transformed',
   'transformation',
   'transformation',
   'time',
   'transformation',
   'talk',
   'table',
   'tutorial',
   'table',
   'type',
   'train',
   'test',
   'train',
   'trueinferschema',
   'true',
   'test',
   'trueinferschema',
   'true',
   'train',
   'test',
   'true',
   'true',
   'telling',
   'type',
   'true',
   'type',
   'types',
   'train',
   'tree',
   'trainprintschema',
   'train',
   'trainhead10',
   'train',
   'traincount',
   'train',
   'test',
   'trainnadropcounttestnadropanycount',
   'train',
   'test',
   'techniques',
   'transform',
   'train',
   'test',
   'train',
   'trainfillna1',
   'test',
   'testfillna1',
   'traindescribeshow',
   'train',
   'trainselectuseridshow',
   'train',
   'test',
   'train',
   'test',
   'trainselectproductiddistinctcount',
   'testselectproductiddistinctcount',
   'train',
   'test',
   'train',
   'test',
   'test',
   'train',
   'test',
   'train',
   'test',
   'train',
   'transforming',
   'transform',
   'transformation',
   'train',
   'transform',
   'train',
   'test',
   'transform',
   'train',
   'test',
   'transform',
   'transformation',
   'train1',
   'test1',
   'train1',
   'test1',
   'train1',
   'train1show',
   'train1',
   'transformed',
   'train',
   'try',
   'train1',
   'transform',
   'train1test1',
   'transform',
   'train1test1',
   'train1test1',
   'train1',
   't1transformtrain1',
   'test1',
   't1transformtest1',
   'transformed',
   'train1',
   'test1',
   'train1show',
   'train1',
   'test1',
   'train1',
   'test1',
   'transformed',
   'transom',
   'train1',
   'test1',
   'train1selectfeaturesshow',
   'train1selectlabelshow',
   'transforming',
   'task',
   'train1',
   'traincv',
   'testcv',
   'train1',
   'traincv',
   'testcv',
   'traincv',
   'testcv',
   'train1randomsplit07',
   'traincv',
   'testcv',
   'testcv',
   'testcv',
   'train1',
   'things',
   'tutorials',
   'time'])]

### groupByKey / reduceByKey 

#### Q4. Frecuency of words.

In [31]:
rdd6 = rdd4.map(lambda x: (x, 1))

In [32]:
rdd7 = rdd6.groupByKey()

In [33]:
[(key, len(list(value))) for key, value in rdd7.take(10)]

[('think', 2),
 ('moment', 1),
 ('1', 12),
 ('qunitillion', 1),
 ('million', 1),
 ('billion', 1),
 ('imagine', 4),
 ('drives', 1),
 ('cds', 1),
 ('blueray', 1)]

In [34]:
rdd7_freq_of_words = rdd7.mapValues(sum).map(lambda x: (x[1],x[0])).sortByKey(False)

In [35]:
rdd7_freq_of_words.take(10)

[(91, 'spark'),
 (74, 'data'),
 (52, 'apache'),
 (48, 'rdd'),
 (27, 'need'),
 (22, 'dataframe'),
 (22, 'cluster'),
 (22, 'train'),
 (21, 'lets'),
 (21, 'method')]

In [36]:
rdd6.reduceByKey(lambda x,y: x+y).map(lambda x:(x[1],x[0])).sortByKey(False).take(10)

[(91, 'spark'),
 (74, 'data'),
 (52, 'apache'),
 (48, 'rdd'),
 (27, 'need'),
 (22, 'dataframe'),
 (22, 'cluster'),
 (22, 'train'),
 (21, 'lets'),
 (21, 'method')]

### mapPartitions

mapPartitions is a map transformation running in different partitions of the RDD. For instances, if we are curious about the frequency of 10 specific words, it's possible count them in different partitions.

#### Q5. Perform a task in different partitions of the RDD: Investigate the frequency of the following words: 
- spark
- apache

We need to define a function with the task required and then, pass the function to the **mapPartitions** transformation.

In [73]:
from collections import Counter

def func(iterator):
    
    counter = Counter(iterator)
    return (counter['spark'], counter['apache'])

Let's display the number of partitions:

In [74]:
rdd4.getNumPartitions()

1

Now, we increase the number of partitions applying the function repartition over the RDD:

In [79]:
repartrdd = rdd4.repartition(6)

Checking the number of partitions again:

In [80]:
repartrdd.getNumPartitions()

6

Passing the function to the mapPartitions -using the original RDD- performs the task in just one partition. **glom** function allows us inspect the data into every partition. We use this tool to compare the original output and others generated changing the number of partitions. In the first case, as we could expect, the output is a single array with the frecuency of every word.

In [81]:
rdd4.mapPartitions(func).glom().collect()

[[91, 52]]

Then, for the new RDD with 6 partitions, we expect 6 outputs with two elements each one, corresponding to the frecuency of the pair of words searched in every partition:

In [82]:
repartrdd.mapPartitions(func).glom().collect()

[[12, 8], [15, 8], [15, 8], [20, 10], [16, 11], [13, 7]]

Which function do we use to reduce the number of partitions? Let's inspect the following line:

In [87]:
coalescerdd = repartrdd.coalesce(4)

*coalesce* is the function to reduce the number of partitions. For this new RDD with 4 partitions, we expect 4 outputs:

In [88]:
coalescerdd.mapPartitions(func).glom().collect()

[[12, 8], [33, 17], [30, 16], [16, 11]]

### Sampling

#### Q6: How do we get a sample of a population?

*sample* transformation has the following parameters:
- withReplacement (bool)
- fraction (float)
- seed, random state (int)

In [89]:
rdd_sample = rdd4.sample(False, 0.2, 42)

In [91]:
len(rdd_sample.collect())

525

In [92]:
len(rdd4.collect())

2762

### Union/join

#### Q7: Union of two RDD's. One with all the words starting with 'u' and another with the words ending with 'a'.
#### Notes: union doesn't delete duplicates.

In [111]:
e_words = rdd4.filter(lambda x: x[0] == 'e').distinct()

In [112]:
e_words.collect()

['exciting',
 'entirely',
 'effectively',
 'experience',
 'efficient',
 'emanating',
 'efficiently',
 'example',
 'end',
 'explain',
 'exact',
 'exactly',
 'examples',
 'enables',
 'executors',
 'ends',
 'evaluation',
 'execute',
 'entire',
 'easiest',
 'extract',
 'extracted',
 'editing',
 'environment',
 'editor',
 'export',
 'extent',
 'exploring',
 'elements',
 'element',
 'existing',
 'external',
 'earlier',
 'executing',
 'elegant',
 'encode',
 'extra',
 'evaluate',
 'error',
 'evaluator',
 'evaluatorevaluatepredictionsevaluatormetricnamemse']

In [113]:
words_a = rdd4.filter(lambda x: x[-1] == 'a').distinct()

In [114]:
words_a.collect()

['data',
 'phenomena',
 'scala',
 'california',
 'java',
 'ppawebupd8teamjava',
 'metadata',
 'scparallelizedata',
 'gupta',
 'lambda',
 'rddmaplambda',
 'trueinferschema',
 'inferschema',
 'printschema',
 'schema',
 'trainprintschema',
 'fillna',
 'comma',
 'formula',
 'rformula',
 'extra']

In [117]:
union = e_words.union(words_a)

In [120]:
print('Length words starting with "e": {}'.format(len(e_words.collect())))
print('Length words finishing with "a": {}'.format(len(words_a.collect())))     
print('Lenght union: {}'.format(len(union.collect())))

Length words starting with "e": 41
Length words finishing with "a": 21
Lenght union: 62

#### Q8: Joining two pair RDD's based on their key.

In [133]:
sample1 = rdd6.sample(False, 0.2, 42).distinct()
sample2 = rdd6.sample(False, 0.2, 21).distinct()

In [134]:
sample1.take(10)

[('think', 1),
 ('qunitillion', 1),
 ('1', 1),
 ('blueray', 1),
 ('difficult', 1),
 ('data', 1),
 ('generation', 1),
 ('find', 1),
 ('handle', 1),
 ('huge', 1)]

In [135]:
joined_samples = sample1.join(sample2)

In [136]:
joined_samples.take(10)

[('think', (1, 1)),
 ('qunitillion', (1, 1)),
 ('1', (1, 1)),
 ('huge', (1, 1)),
 ('offering', (1, 1)),
 ('based', (1, 1)),
 ('large', (1, 1)),
 ('read', (1, 1)),
 ('learning', (1, 1)),
 ('challenges', (1, 1))]

In [139]:
print('Length sample 1: {}'.format(len(sample1.collect())))
print('Length sample 2: {}'.format(len(sample2.collect())))     
print('Lenght joined samples: {}'.format(len(joined_samples.collect())))

Length sample 1: 335
Length sample 2: 356
Lenght joined samples: 166

#### Data Frames

In [37]:
sc_dataframe = SparkSession.builder.appName("pysparkDataframes").getOrCreate()

In [38]:
dfStorm2019 = sc_dataframe.read.format('csv')\
                .option('header', 'true')\
                .option('delimiter', ',')\
                .option('inferSchema', 'true')\
                .load('../pyspark/data/StormEvents_details-ftp_v1.0_d2019_c20200317.csv.gz')

In [39]:
dfStorm2019.show(10)

+---------------+---------+----------+-------------+-------+--------+----------+--------+--------------+----------+----+----------+--------------------+-------+-------+--------------------+---+------------------+-----------+------------------+---------------+-----------------+-------------+---------------+---------------+------------+--------------------+---------+--------------+-----------+--------+-----------+----------+---------+-------------+------------------+-----------------+-----------------+-----------+-------------+----------------+---------+-----------+----------------+---------+---------+-------+--------+--------------------+--------------------+-----------+
|BEGIN_YEARMONTH|BEGIN_DAY|BEGIN_TIME|END_YEARMONTH|END_DAY|END_TIME|EPISODE_ID|EVENT_ID|         STATE|STATE_FIPS|YEAR|MONTH_NAME|          EVENT_TYPE|CZ_TYPE|CZ_FIPS|             CZ_NAME|WFO|   BEGIN_DATE_TIME|CZ_TIMEZONE|     END_DATE_TIME|INJURIES_DIRECT|INJURIES_INDIRECT|DEATHS_DIRECT|DEATHS_INDIRECT|DAMAGE_PROPERTY|DAMAGE_CROPS|              SOURCE|MAGNITUDE|MAGNITUDE_TYPE|FLOOD_CAUSE|CATEGORY|TOR_F_SCALE|TOR_LENGTH|TOR_WIDTH|TOR_OTHER_WFO|TOR_OTHER_CZ_STATE|TOR_OTHER_CZ_FIPS|TOR_OTHER_CZ_NAME|BEGIN_RANGE|BEGIN_AZIMUTH|  BEGIN_LOCATION|END_RANGE|END_AZIMUTH|    END_LOCATION|BEGIN_LAT|BEGIN_LON|END_LAT| END_LON|   EPISODE_NARRATIVE|     EVENT_NARRATIVE|DATA_SOURCE|
+---------------+---------+----------+-------------+-------+--------+----------+--------+--------------+----------+----+----------+--------------------+-------+-------+--------------------+---+------------------+-----------+------------------+---------------+-----------------+-------------+---------------+---------------+------------+--------------------+---------+--------------+-----------+--------+-----------+----------+---------+-------------+------------------+-----------------+-----------------+-----------+-------------+----------------+---------+-----------+----------------+---------+---------+-------+--------+--------------------+--------------------+-----------+
|         201905|        9|      1554|       201905|      9|    1830|    137295|  824116|         TEXAS|        48|2019|       May|         Flash Flood|      C|     29|               BEXAR|EWX|09-MAY-19 15:54:00|      CST-6|09-MAY-19 18:30:00|              0|                0|            0|              0|          0.00K|       0.00K|     Law Enforcement|     null|          null| Heavy Rain|    null|       null|      null|     null|         null|              null|             null|             null|          8|            N|       LEON SPGS|        7|        NNE|    SAN GERONIMO|  29.7898| -98.6406|29.7158|-98.7744|Thunderstorms dev...|Thunderstorms pro...|        CSV|
|         201907|       15|      1640|       201907|     15|    1641|    140217|  843354|     MINNESOTA|        27|2019|      July|   Thunderstorm Wind|      C|    115|                PINE|DLH|15-JUL-19 16:40:00|      CST-6|15-JUL-19 16:41:00|              0|                0|            0|              0|          0.00K|       0.00K|     Trained Spotter|     50.0|            EG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          5|            E|      ROCK CREEK|        5|          E|      ROCK CREEK|    45.77|   -92.87|  45.77|  -92.87|An area of low pr...|A 14-inch tree fe...|        CSV|
|         201910|       20|      2223|       201910|     20|    2223|    142648|  861581|         TEXAS|        48|2019|   October|   Thunderstorm Wind|      C|    467|           VAN ZANDT|FWD|20-OCT-19 22:23:00|      CST-6|20-OCT-19 22:23:00|              0|                0|            0|              0|          0.00K|       0.00K|     Trained Spotter|     58.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          1|            N|        EDGEWOOD|        1|          N|        EDGEWOOD|    32.71|   -95.88|  32.71|  -95.88|Thunderstorms eru...|A trained spotter...|        CSV|
|         201910|       20|      2312|       201910|     20|    2312|    142648|  861584|         TEXAS|        48|2019|   October|   Thunderstorm Wind|      C|    439|             TARRANT|FWD|20-OCT-19 23:12:00|      CST-6|20-OCT-19 23:12:00|              0|                0|            0|              0|          0.00K|       0.00K|     Law Enforcement|     56.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          5|          WSW|            AZLE|        5|        WSW|            AZLE|    32.87|   -97.61|  32.87|  -97.61|Thunderstorms eru...|The local police ...|        CSV|
|         201910|       20|      2236|       201910|     20|    2236|    142648|  861582|         TEXAS|        48|2019|   October|   Thunderstorm Wind|      C|    363|          PALO PINTO|FWD|20-OCT-19 22:36:00|      CST-6|20-OCT-19 22:36:00|              0|                0|            0|              0|          0.00K|       0.00K|                ASOS|     65.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          0|            N|   MINERAL WELLS|        0|          N|   MINERAL WELLS|     32.8|    -98.1|   32.8|   -98.1|Thunderstorms eru...|A wind gust of 75...|        CSV|
|         201910|       20|      2048|       201910|     20|    2054|    142648|  856504|         TEXAS|        48|2019|   October|             Tornado|      C|    397|            ROCKWALL|FWD|20-OCT-19 20:48:00|      CST-6|20-OCT-19 20:54:00|              0|                0|            0|              0|         10.00M|       0.00K|    NWS Storm Survey|     null|          null|       null|    null|        EF1|      1.96|    150.0|         null|              null|             null|             null|          2|            W|        ROCKWALL|        1|        NNW|        ROCKWALL|  32.9312| -96.4864|32.9393|-96.4545|Thunderstorms eru...|Tornadic wind dam...|        CSV|
|         201909|        4|      1229|       201909|      4|    1229|    141212|  848333|       VERMONT|        50|2019| September|                Hail|      C|     27|             WINDSOR|BTV|04-SEP-19 12:29:00|      EST-5|04-SEP-19 12:29:00|              0|                0|            0|              0|          0.00K|       0.00K|              Public|      1.0|          null|       null|    null|       null|      null|     null|         null|              null|             null|             null|          1|            W|          LUDLOW|        1|          W|          LUDLOW|     43.4|   -72.72|   43.4|  -72.72|A strong mid-leve...|Quarter size hail...|        CSV|
|         201909|       26|      1554|       201909|     26|    1554|    141215|  848338|      NEW YORK|        36|2019| September|   Thunderstorm Wind|      C|     89|        ST. LAWRENCE|BTV|26-SEP-19 15:54:00|      EST-5|26-SEP-19 15:54:00|              0|                0|            0|              0|          5.00K|       0.00K|     Utility Company|     50.0|            EG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          5|           SW|          MADRID|        5|         SW|          MADRID|  44.6988|  -75.222|44.6988| -75.222|A strong mid-leve...|A few trees and p...|        CSV|
|         201909|       13|      1838|       201909|     13|    1838|    140688|  845760|ATLANTIC SOUTH|        87|2019| September|Marine Thundersto...|      Z|    552|VOLUSIA-BREVARD C...|MLB|13-SEP-19 18:38:00|      EST-5|13-SEP-19 18:38:00|              0|                0|            0|              0|          0.00K|       0.00K|             Mesonet|     36.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          1|            S|  CAPE CANAVERAL|        1|          S|  CAPE CANAVERAL|    28.37|    -80.6|  28.37|   -80.6|Fast moving showe...|Weatherflow site ...|        CSV|
|         201909|       13|      1915|       201909|     13|    1915|    140688|  845762|ATLANTIC SOUTH|        87|2019| September|Marine Thundersto...|      Z|    552|VOLUSIA-BREVARD C...|MLB|13-SEP-19 19:15:00|      EST-5|13-SEP-19 19:15:00|              0|                0|            0|              0|          0.00K|       0.00K|Other Federal Agency|     36.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          9|           NE|PLAYALINDA BEACH|        9|         NE|PLAYALINDA BEACH|    28.63|   -80.66|  28.63|  -80.66|Fast moving showe...|US Air Force wind...|        CSV|
+---------------+---------+----------+-------------+-------+--------+----------+--------+--------------+----------+----+----------+--------------------+-------+-------+--------------------+---+------------------+-----------+------------------+---------------+-----------------+-------------+---------------+---------------+------------+--------------------+---------+--------------+-----------+--------+-----------+----------+---------+-------------+------------------+-----------------+-----------------+-----------+-------------+----------------+---------+-----------+----------------+---------+---------+-------+--------+--------------------+--------------------+-----------+
only showing top 10 rows

In [40]:
dfStorm2019.count()

67337

Checking duplicates rows:

In [41]:
assert dfStorm2019.count() == dfStorm2019.distinct().count()

Displaying schema:

In [42]:
dfStorm2019.printSchema()

root
 |-- BEGIN_YEARMONTH: integer (nullable = true)
 |-- BEGIN_DAY: integer (nullable = true)
 |-- BEGIN_TIME: integer (nullable = true)
 |-- END_YEARMONTH: integer (nullable = true)
 |-- END_DAY: integer (nullable = true)
 |-- END_TIME: integer (nullable = true)
 |-- EPISODE_ID: integer (nullable = true)
 |-- EVENT_ID: integer (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATE_FIPS: integer (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH_NAME: string (nullable = true)
 |-- EVENT_TYPE: string (nullable = true)
 |-- CZ_TYPE: string (nullable = true)
 |-- CZ_FIPS: integer (nullable = true)
 |-- CZ_NAME: string (nullable = true)
 |-- WFO: string (nullable = true)
 |-- BEGIN_DATE_TIME: string (nullable = true)
 |-- CZ_TIMEZONE: string (nullable = true)
 |-- END_DATE_TIME: string (nullable = true)
 |-- INJURIES_DIRECT: integer (nullable = true)
 |-- INJURIES_INDIRECT: integer (nullable = true)
 |-- DEATHS_DIRECT: integer (nullable = true)
 |-- DEATHS_INDIRECT: integer (nullable = true)
 |-- DAMAGE_PROPERTY: string (nullable = true)
 |-- DAMAGE_CROPS: string (nullable = true)
 |-- SOURCE: string (nullable = true)
 |-- MAGNITUDE: double (nullable = true)
 |-- MAGNITUDE_TYPE: string (nullable = true)
 |-- FLOOD_CAUSE: string (nullable = true)
 |-- CATEGORY: integer (nullable = true)
 |-- TOR_F_SCALE: string (nullable = true)
 |-- TOR_LENGTH: double (nullable = true)
 |-- TOR_WIDTH: double (nullable = true)
 |-- TOR_OTHER_WFO: string (nullable = true)
 |-- TOR_OTHER_CZ_STATE: string (nullable = true)
 |-- TOR_OTHER_CZ_FIPS: integer (nullable = true)
 |-- TOR_OTHER_CZ_NAME: string (nullable = true)
 |-- BEGIN_RANGE: integer (nullable = true)
 |-- BEGIN_AZIMUTH: string (nullable = true)
 |-- BEGIN_LOCATION: string (nullable = true)
 |-- END_RANGE: integer (nullable = true)
 |-- END_AZIMUTH: string (nullable = true)
 |-- END_LOCATION: string (nullable = true)
 |-- BEGIN_LAT: double (nullable = true)
 |-- BEGIN_LON: double (nullable = true)
 |-- END_LAT: double (nullable = true)
 |-- END_LON: double (nullable = true)
 |-- EPISODE_NARRATIVE: string (nullable = true)
 |-- EVENT_NARRATIVE: string (nullable = true)
 |-- DATA_SOURCE: string (nullable = true)

In [43]:
dfStorm2019.filter(dfStorm2019.STATE == 'TEXAS').show(10)

+---------------+---------+----------+-------------+-------+--------+----------+--------+-----+----------+----+----------+-----------------+-------+-------+----------+---+------------------+-----------+------------------+---------------+-----------------+-------------+---------------+---------------+------------+--------------------+---------+--------------+-----------+--------+-----------+----------+---------+-------------+------------------+-----------------+-----------------+-----------+-------------+--------------+---------+-----------+-------------+---------+---------+-------+--------+--------------------+--------------------+-----------+
|BEGIN_YEARMONTH|BEGIN_DAY|BEGIN_TIME|END_YEARMONTH|END_DAY|END_TIME|EPISODE_ID|EVENT_ID|STATE|STATE_FIPS|YEAR|MONTH_NAME|       EVENT_TYPE|CZ_TYPE|CZ_FIPS|   CZ_NAME|WFO|   BEGIN_DATE_TIME|CZ_TIMEZONE|     END_DATE_TIME|INJURIES_DIRECT|INJURIES_INDIRECT|DEATHS_DIRECT|DEATHS_INDIRECT|DAMAGE_PROPERTY|DAMAGE_CROPS|              SOURCE|MAGNITUDE|MAGNITUDE_TYPE|FLOOD_CAUSE|CATEGORY|TOR_F_SCALE|TOR_LENGTH|TOR_WIDTH|TOR_OTHER_WFO|TOR_OTHER_CZ_STATE|TOR_OTHER_CZ_FIPS|TOR_OTHER_CZ_NAME|BEGIN_RANGE|BEGIN_AZIMUTH|BEGIN_LOCATION|END_RANGE|END_AZIMUTH| END_LOCATION|BEGIN_LAT|BEGIN_LON|END_LAT| END_LON|   EPISODE_NARRATIVE|     EVENT_NARRATIVE|DATA_SOURCE|
+---------------+---------+----------+-------------+-------+--------+----------+--------+-----+----------+----+----------+-----------------+-------+-------+----------+---+------------------+-----------+------------------+---------------+-----------------+-------------+---------------+---------------+------------+--------------------+---------+--------------+-----------+--------+-----------+----------+---------+-------------+------------------+-----------------+-----------------+-----------+-------------+--------------+---------+-----------+-------------+---------+---------+-------+--------+--------------------+--------------------+-----------+
|         201905|        9|      1554|       201905|      9|    1830|    137295|  824116|TEXAS|        48|2019|       May|      Flash Flood|      C|     29|     BEXAR|EWX|09-MAY-19 15:54:00|      CST-6|09-MAY-19 18:30:00|              0|                0|            0|              0|          0.00K|       0.00K|     Law Enforcement|     null|          null| Heavy Rain|    null|       null|      null|     null|         null|              null|             null|             null|          8|            N|     LEON SPGS|        7|        NNE| SAN GERONIMO|  29.7898| -98.6406|29.7158|-98.7744|Thunderstorms dev...|Thunderstorms pro...|        CSV|
|         201910|       20|      2223|       201910|     20|    2223|    142648|  861581|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    467| VAN ZANDT|FWD|20-OCT-19 22:23:00|      CST-6|20-OCT-19 22:23:00|              0|                0|            0|              0|          0.00K|       0.00K|     Trained Spotter|     58.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          1|            N|      EDGEWOOD|        1|          N|     EDGEWOOD|    32.71|   -95.88|  32.71|  -95.88|Thunderstorms eru...|A trained spotter...|        CSV|
|         201910|       20|      2312|       201910|     20|    2312|    142648|  861584|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    439|   TARRANT|FWD|20-OCT-19 23:12:00|      CST-6|20-OCT-19 23:12:00|              0|                0|            0|              0|          0.00K|       0.00K|     Law Enforcement|     56.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          5|          WSW|          AZLE|        5|        WSW|         AZLE|    32.87|   -97.61|  32.87|  -97.61|Thunderstorms eru...|The local police ...|        CSV|
|         201910|       20|      2236|       201910|     20|    2236|    142648|  861582|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    363|PALO PINTO|FWD|20-OCT-19 22:36:00|      CST-6|20-OCT-19 22:36:00|              0|                0|            0|              0|          0.00K|       0.00K|                ASOS|     65.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          0|            N| MINERAL WELLS|        0|          N|MINERAL WELLS|     32.8|    -98.1|   32.8|   -98.1|Thunderstorms eru...|A wind gust of 75...|        CSV|
|         201910|       20|      2048|       201910|     20|    2054|    142648|  856504|TEXAS|        48|2019|   October|          Tornado|      C|    397|  ROCKWALL|FWD|20-OCT-19 20:48:00|      CST-6|20-OCT-19 20:54:00|              0|                0|            0|              0|         10.00M|       0.00K|    NWS Storm Survey|     null|          null|       null|    null|        EF1|      1.96|    150.0|         null|              null|             null|             null|          2|            W|      ROCKWALL|        1|        NNW|     ROCKWALL|  32.9312| -96.4864|32.9393|-96.4545|Thunderstorms eru...|Tornadic wind dam...|        CSV|
|         201905|       23|      2230|       201905|     23|    2230|    137864|  828397|TEXAS|        48|2019|       May|             Hail|      C|    211|  HEMPHILL|AMA|23-MAY-19 22:30:00|      CST-6|23-MAY-19 22:30:00|              0|                0|            0|              0|          0.00K|       0.00K|     Trained Spotter|      1.0|          null|       null|    null|       null|      null|     null|         null|              null|             null|             null|          2|          WNW|       GLAZIER|        2|        WNW|      GLAZIER|    36.01|  -100.26|  36.01| -100.26|A vigorous upper ...|                null|        CSV|
|         201910|       21|       130|       201910|     21|     130|    142648|  861579|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    349|   NAVARRO|FWD|21-OCT-19 01:30:00|      CST-6|21-OCT-19 01:30:00|              0|                0|            0|              0|         10.00K|       0.00K|              Public|     55.0|            EG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          0|            N|        KERENS|        0|          N|       KERENS|    32.13|   -96.23|  32.13|  -96.23|Thunderstorms eru...|A public report i...|        CSV|
|         201910|       20|      2336|       201910|     20|    2336|    142648|  861587|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    439|   TARRANT|FWD|20-OCT-19 23:36:00|      CST-6|20-OCT-19 23:36:00|              0|                0|            0|              0|          0.00K|       0.00K|                ASOS|     54.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          1|            E|    RIVER OAKS|        1|          E|   RIVER OAKS|    32.78|   -97.38|  32.78|  -97.38|Thunderstorms eru...|A 62 MPH wind gus...|        CSV|
|         201910|       20|      2338|       201910|     20|    2338|    142648|  861588|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    439|   TARRANT|FWD|20-OCT-19 23:38:00|      CST-6|20-OCT-19 23:38:00|              0|                0|            0|              0|          0.00K|       0.00K|Official NWS Obse...|     55.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          0|            N|   HALTOM CITY|        0|          N|  HALTOM CITY|     32.8|   -97.27|   32.8|  -97.27|Thunderstorms eru...|A 63 MPH wind gus...|        CSV|
|         201910|       20|      2340|       201910|     20|    2340|    142648|  861589|TEXAS|        48|2019|   October|Thunderstorm Wind|      C|    439|   TARRANT|FWD|20-OCT-19 23:40:00|      CST-6|20-OCT-19 23:40:00|              0|                0|            0|              0|          0.00K|       0.00K|                ASOS|     54.0|            MG|       null|    null|       null|      null|     null|         null|              null|             null|             null|          1|           SE|         HODGE|        1|         SE|        HODGE|    32.79|   -97.34|  32.79|  -97.34|Thunderstorms eru...|A 62 MPH wind gus...|        CSV|
+---------------+---------+----------+-------------+-------+--------+----------+--------+-----+----------+----+----------+-----------------+-------+-------+----------+---+------------------+-----------+------------------+---------------+-----------------+-------------+---------------+---------------+------------+--------------------+---------+--------------+-----------+--------+-----------+----------+---------+-------------+------------------+-----------------+-----------------+-----------+-------------+--------------+---------+-----------+-------------+---------+---------+-------+--------+--------------------+--------------------+-----------+
only showing top 10 rows

In [44]:
#dfStorm2019.describe().show()

In [45]:
dfStorm2019.groupBy('STATE').count().show(60)

+--------------------+-----+
|               STATE|count|
+--------------------+-----+
|               TEXAS| 4338|
|           MINNESOTA| 2126|
|             VERMONT|  317|
|            NEW YORK| 2514|
|      ATLANTIC SOUTH|  519|
|             FLORIDA|  939|
|       WEST VIRGINIA|  967|
|            ARKANSAS| 1148|
|      GULF OF MEXICO|  907|
|             MONTANA| 1286|
|            MISSOURI| 2159|
|             GEORGIA| 1158|
|         CONNECTICUT|  240|
|             ALABAMA| 1116|
|                OHIO| 2279|
|       MASSACHUSETTS|  860|
|        RHODE ISLAND|   92|
|              KANSAS| 2672|
|                IOWA| 2276|
|            VIRGINIA| 2398|
|              ALASKA|  143|
|      ATLANTIC NORTH| 1054|
|            MARYLAND| 1208|
|          CALIFORNIA| 2643|
|        SOUTH DAKOTA| 2543|
|      NORTH CAROLINA| 1448|
|         MISSISSIPPI| 1140|
|DISTRICT OF COLUMBIA|   52|
|        NORTH DAKOTA| 1095|
|            COLORADO| 1776|
|            KENTUCKY| 1522|
|              NEVADA|  313|
|           TENNESSEE| 1157|
|           WISCONSIN| 1573|
|               MAINE|  320|
|            NEBRASKA| 2088|
|             WYOMING| 1106|
|             INDIANA| 1447|
|            ILLINOIS| 2084|
|               IDAHO|  585|
|          NEW JERSEY|  901|
|              HAWAII|  687|
|          NEW MEXICO|  860|
|       LAKE MICHIGAN|  105|
|       LAKE SUPERIOR|  102|
|          LAKE HURON|   21|
|            OKLAHOMA| 1801|
|                UTAH|  335|
|            MICHIGAN| 1067|
|           LOUISIANA|  813|
|        PENNSYLVANIA| 2395|
|            DELAWARE|  136|
|          WASHINGTON|  414|
|      SOUTH CAROLINA|  826|
|             ARIZONA|  516|
|              OREGON|  290|
|         PUERTO RICO|  155|
|           LAKE ERIE|   77|
|       NEW HAMPSHIRE|  129|
|      AMERICAN SAMOA|   21|
+--------------------+-----+
only showing top 60 rows

In [46]:
dfStorm2019.groupBy('EVENT_TYPE').count().show(50)

+--------------------+-----+
|          EVENT_TYPE|count|
+--------------------+-----+
|         Flash Flood| 4068|
|   Thunderstorm Wind|18617|
|             Tornado| 1727|
|                Hail| 9013|
|Marine Thundersto...| 2502|
|         Rip Current|   72|
|      Winter Weather| 3800|
|          Waterspout|  183|
|          Heavy Rain| 1416|
|             Drought| 1007|
|        Winter Storm| 3312|
|               Flood| 4943|
|           Lightning|  343|
|            Blizzard|  852|
|Extreme Cold/Wind...| 1065|
|          Heavy Snow| 2844|
|           High Wind| 3743|
|        Funnel Cloud|  348|
|       Coastal Flood|  240|
|      Excessive Heat|  827|
|                Heat| 1291|
|         Marine Hail|   32|
|     Cold/Wind Chill|  470|
|         Strong Wind| 1590|
|         Debris Flow|  184|
|           Dense Fog|  652|
|               Sleet|    1|
|        Frost/Freeze|  654|
|           Avalanche|   44|
|           Hurricane|   10|
|      Tropical Storm|  143|
|           High Surf|  468|
|            Wildfire|  180|
|    Marine High Wind|   77|
|           Ice Storm|  200|
|Astronomical Low ...|   16|
|          Dust Devil|    8|
|    Lake-Effect Snow|   78|
|        Freezing Fog|    6|
|     Lakeshore Flood|  146|
|          Dust Storm|   40|
|         Sneakerwave|    3|
|  Marine Strong Wind|   17|
|Marine Tropical S...|   37|
|         Dense Smoke|    2|
|    Storm Surge/Tide|   25|
| Tropical Depression|   26|
|Marine Tropical D...|    4|
|              Seiche|    4|
|Marine Hurricane/...|    6|
+--------------------+-----+
only showing top 50 rows

In [47]:
dfStorm2019.groupBy('STATE', 'MONTH_NAME').count().orderBy('STATE', ascending=True).show(50)

+--------------+----------+-----+
|         STATE|MONTH_NAME|count|
+--------------+----------+-----+
|       ALABAMA|  February|  104|
|       ALABAMA|   October|   35|
|       ALABAMA| September|   41|
|       ALABAMA|       May|   73|
|       ALABAMA|      June|  168|
|       ALABAMA|   January|   32|
|       ALABAMA|      July|   63|
|       ALABAMA|    August|  126|
|       ALABAMA|     March|  148|
|       ALABAMA|  December|   92|
|       ALABAMA|  November|   77|
|       ALABAMA|     April|  157|
|        ALASKA|     April|   12|
|        ALASKA|   October|   19|
|        ALASKA|      June|    4|
|        ALASKA|     March|   17|
|        ALASKA|  February|   14|
|        ALASKA|   January|   10|
|        ALASKA|      July|    2|
|        ALASKA|       May|    2|
|        ALASKA|    August|   11|
|        ALASKA| September|    4|
|        ALASKA|  December|   32|
|        ALASKA|  November|   16|
|AMERICAN SAMOA|       May|    2|
|AMERICAN SAMOA| September|    3|
|AMERICAN SAMOA|      July|    2|
|AMERICAN SAMOA|   October|    2|
|AMERICAN SAMOA|  December|    4|
|AMERICAN SAMOA|      June|    4|
|AMERICAN SAMOA|     March|    1|
|AMERICAN SAMOA|    August|    2|
|AMERICAN SAMOA|     April|    1|
|       ARIZONA|     March|    9|
|       ARIZONA|   January|   32|
|       ARIZONA|     April|    6|
|       ARIZONA|    August|   82|
|       ARIZONA|  February|   72|
|       ARIZONA|      June|    7|
|       ARIZONA| September|  122|
|       ARIZONA|  November|   87|
|       ARIZONA|       May|    6|
|       ARIZONA|      July|   64|
|       ARIZONA|   October|    3|
|       ARIZONA|  December|   26|
|      ARKANSAS|     March|   70|
|      ARKANSAS|     April|   89|
|      ARKANSAS|   January|   46|
|      ARKANSAS|       May|  220|
|      ARKANSAS|  February|   60|
+--------------+----------+-----+
only showing top 50 rows

In [48]:
dfStorm2019.agg({'DEATHS_DIRECT':'sum'}).show()

+------------------+
|sum(DEATHS_DIRECT)|
+------------------+
|               390|
+------------------+

In [49]:
dfStorm2019.agg({'DEATHS_INDIRECT':'sum'}).show()

+--------------------+
|sum(DEATHS_INDIRECT)|
+--------------------+
|                 160|
+--------------------+